In [19]:
import pandas as pd
import numpy as np

# 전처리 할 파일 및 크롤링 실패한 url 불러오기

In [20]:
# 회사명
df_name_data_eng = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\name_bigdata_eng.csv")
df_name_data_analy = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\name_data_analy.csv")
df_name_data_sci = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\name_data_sci.csv")

In [21]:
# 우대사항
df_prefer_data_eng = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\prefer_bigdata_eng.csv")
df_prefer_data_analy = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\prefer_data_analy.csv")
df_prefer_data_sci = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\prefer_data_sci.csv")

In [22]:
# 지역
df_loc_data_eng = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\loc_bigdata_eng.csv")
df_loc_data_analy = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\loc_data_analy.csv")
df_loc_data_sci = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\loc_data_sci.csv")

In [23]:
# tool
df_tool_data_eng = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\tool_bigdata_eng.csv")
df_tool_data_analy = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\tool_data_analy.csv")
df_tool_data_sci = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\tool_data_sci.csv")

In [24]:
# url
df_url_data_eng = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\urls_bigdata_eng.csv")
df_url_data_analy = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\urls_data_analy.csv")
df_url_data_sci = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\urls_data_sci.csv")

In [25]:
# 크롤링 실패
df_fail_data_eng = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\fail_url_bigdata_eng.csv")
df_fail_data_analy = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\fail_url_data_analy.csv")
df_fail_data_sci = pd.read_csv("C:\Data_Engineer_Study\멀캠_PJT_2\multi_finalproject\data\\fail_url_data_sci.csv")

In [26]:
# 실패한 크롤링 확인
print(df_fail_data_eng.isna().sum())
print(df_fail_data_analy.isna().sum())
print(df_fail_data_sci.isna().sum())

# 모두 정상적으로 크롤링 완료

0    158
dtype: int64
0    163
dtype: int64
0    228
dtype: int64

In [27]:
df_data_eng = pd.concat([df_name_data_eng, df_prefer_data_eng, df_loc_data_eng, df_url_data_eng, df_tool_data_eng], axis = 1)
df_data_anl = pd.concat([df_name_data_analy, df_prefer_data_analy, df_loc_data_analy, df_url_data_analy, df_tool_data_analy], axis = 1)
df_data_sci = pd.concat([df_name_data_sci, df_prefer_data_sci, df_loc_data_sci, df_url_data_sci, df_tool_data_sci], axis = 1)

col = ['company', 'prefer','location', 'url', 'tool']

df_data_eng.columns = col
df_data_anl.columns = col
df_data_sci.columns = col

In [28]:
df_data_eng

,company,prefer,location,url,tool
0,웨이커,• 금융 도메인 경험이 있으신 분\n• 주식 투자에 대한 관심과 경험이 있으신 분\...,서울.한국,https://www.wanted.co.kr/wd/183274,Confluence\nGit\nGitLab\nJIRA\nPython\nSQL\nNL...
1,타이드풀(TIDEPOOL),"• R&D, 납품 용역 과제 수행 및 관리 경험\n• AI 관련 석사학위 이상의 연...",대전.한국,https://www.wanted.co.kr/wd/183049,Git\nDjango\nPytorch\nHTML\nJavaScript\nPython...
2,엠에스홀딩스,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국,https://www.wanted.co.kr/wd/182955,Git\nReact\nHTML\nJavaScript
3,엠에스인포테크,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국,https://www.wanted.co.kr/wd/182913,NaN
4,엠에스투데이,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국,https://www.wanted.co.kr/wd/182617,NaN
...,...,...,...,...,...
153,워트인텔리전스,- Full-Stack 개발자\n- 검색엔진으로 서비스 진행 경험\n- 유지보수를 ...,서울.한국,https://www.wanted.co.kr/wd/38844,MySQL\nOracle\nReact\nJava\nJavaScript\nKotlin...
154,여기어때컴퍼니,- 이기종 데이터베이스 마이그레이션 경험이 있으신 분\n- 대용량 트래픽 처리를 위...,서울.한국,https://www.wanted.co.kr/wd/30861,NaN
155,워트인텔리전스,- 대량의 데이터를 파이프라인으로 다뤄본 경험\n- 검색엔진을 다뤄본 경험\n- 데...,서울.한국,https://www.wanted.co.kr/wd/26823,MySQL\nOracle\nReact\nJava\nJavaScript\nKotlin...
156,케이티넥스알(KTNexR),• Big Data 관련 개발 경험 및 관련 Open Source 사용 경험\n• ...,서울.한국,https://www.wanted.co.kr/wd/13250,NaN
157,케이티넥스알(KTNexR),"• Hadoop 및 Hadoop Eco 활용 가능자( hdfs, Spark, Hiv...",서울.한국,https://www.wanted.co.kr/wd/11997,NaN

- 데이터 프레임 저장

In [29]:
# df_data_eng.to_csv("BigData_ENG.csv", index = False)
# df_data_anl.to_csv("Data_ANL.csv", index = False)
# df_data_sci.to_csv("Data_SCI.csv", index = False)

- 크롤링 실패한 사이트 정보 가지고오기

- 누락된 크롤링정보 추가

In [30]:
# #2개씩 밖에 없어서 그냥 수동으로 복붙해서 가지고옴
# data_analy_loc = ['서울.한국', '서울.한국']
# data_analy_prefer = ['''- Tableau, Redash 등의 툴을 활용해 대시보드를 구현해 본 경험이 있는 분
#                      - 숫자 기반의 논리적 추론 결과를 바탕으로 사업과 기술 측면에서 효과적으로 소통할 수 있는 분
#                      - 다양한 부서와 협업하며, 이해와 존중을 바탕으로 유연하게 커뮤니케이션이 가능한 분
#                      - 일의 처리과정을 효율화하고, 체계적인 프로세스를 설계해 본 경험이 있는 분
#                      - 사업, 프로덕트 실무 부서에서 데이터 분석 결과를 기반으로 실질적인 성과를 만들어 내본 경험이 있는 분 
#                      - 업무적 성장을 위해 지속적인 노력을 기울이며, 팀과 함께 성장하고 싶은 분''',
#                      '''• 대규모 유저, Transaction 기반의 데이터 분석을 경험해보신 분
#                      • 대규모 유저가 사용하는 앱 데이터를 분석하고, 이를 바탕으로 프로덕트를 개선한 경험이 있으신 분
#                      • 퍼널 분석, 코호트 분석, A/B 테스트 등의 방법론을 실무에 적용하여 인사이트를 도출한 경험이 있으신 분
#                      • 다양한 툴이나 분석 방법론에 대해서 새롭게 학습하고 적용해본 성공사례를 갖고 계신 분
#                      • 유저 세그먼트를 구분하고, 이를 바탕으로 앱 데이터를 분석한 경험이 있으신 분
#                      • Tableau, Data Studio 등 BI툴을 활용하여 시각화, 분석 결론이 정리된 리포트를 경영진에게 리포팅할 수 있는 분''']
# data_analy_tool = [np.nan, np.nan]

# data_sci_loc = ['서울.한국', '서울.한국']
# data_sci_prefer = ['''- 데이팅, 소셜 네트워크, Two-Sided Market 과 같은 서비스에 대한 높은 이해도와 경험이 있으신분
#                    - PySpark 등을 사용해 대용량 데이터 처리를 통한 데이터 분석을 해 보신 분
#                    - 신규 서비스 런칭, 버전업, 글로벌 진출 등 프로덕트의 다양한 성장 변곡점을 경험해보신 분''',
#                    '''• 수학, 물리, 통계, 산업공학 학위를 소지하신 분
#                    • 외국어(영어)로 업무 진행이 가능하신 분
#                    • ML, DL, AI 분야 중 하나 이상의 컴피티션 (데이콘, 캐글 등)에서 상위권 경험이 있으신분 - 최종랭킹 링크 제출''']
# data_sci_tool = ['Python','Git/nGithub/nMySQL/nHTML/nPython/nSQL/nAWS/nDocker']


# anl_new = pd.DataFrame({'prefer' : data_analy_prefer, 'location' : data_analy_loc, 'tool' : data_analy_tool})
# sci_new = pd.DataFrame({'prefer' : data_sci_prefer, 'location' : data_sci_loc, 'tool' : data_sci_tool})

---

# 테이블화

In [31]:
df_data_eng = df_data_eng.drop(columns = ['prefer', 'location'])
df_data_eng

,company,url,tool
0,웨이커,https://www.wanted.co.kr/wd/183274,Confluence\nGit\nGitLab\nJIRA\nPython\nSQL\nNL...
1,타이드풀(TIDEPOOL),https://www.wanted.co.kr/wd/183049,Git\nDjango\nPytorch\nHTML\nJavaScript\nPython...
2,엠에스홀딩스,https://www.wanted.co.kr/wd/182955,Git\nReact\nHTML\nJavaScript
3,엠에스인포테크,https://www.wanted.co.kr/wd/182913,NaN
4,엠에스투데이,https://www.wanted.co.kr/wd/182617,NaN
...,...,...,...
153,워트인텔리전스,https://www.wanted.co.kr/wd/38844,MySQL\nOracle\nReact\nJava\nJavaScript\nKotlin...
154,여기어때컴퍼니,https://www.wanted.co.kr/wd/30861,NaN
155,워트인텔리전스,https://www.wanted.co.kr/wd/26823,MySQL\nOracle\nReact\nJava\nJavaScript\nKotlin...
156,케이티넥스알(KTNexR),https://www.wanted.co.kr/wd/13250,NaN
157,케이티넥스알(KTNexR),https://www.wanted.co.kr/wd/11997,NaN

In [32]:
df_data_eng['job_name'] = '데이터엔지니어'
df_data_eng

,company,url,tool,job_name
0,웨이커,https://www.wanted.co.kr/wd/183274,Confluence\nGit\nGitLab\nJIRA\nPython\nSQL\nNL...,데이터엔지니어
1,타이드풀(TIDEPOOL),https://www.wanted.co.kr/wd/183049,Git\nDjango\nPytorch\nHTML\nJavaScript\nPython...,데이터엔지니어
2,엠에스홀딩스,https://www.wanted.co.kr/wd/182955,Git\nReact\nHTML\nJavaScript,데이터엔지니어
3,엠에스인포테크,https://www.wanted.co.kr/wd/182913,NaN,데이터엔지니어
4,엠에스투데이,https://www.wanted.co.kr/wd/182617,NaN,데이터엔지니어
...,...,...,...,...
153,워트인텔리전스,https://www.wanted.co.kr/wd/38844,MySQL\nOracle\nReact\nJava\nJavaScript\nKotlin...,데이터엔지니어
154,여기어때컴퍼니,https://www.wanted.co.kr/wd/30861,NaN,데이터엔지니어
155,워트인텔리전스,https://www.wanted.co.kr/wd/26823,MySQL\nOracle\nReact\nJava\nJavaScript\nKotlin...,데이터엔지니어
156,케이티넥스알(KTNexR),https://www.wanted.co.kr/wd/13250,NaN,데이터엔지니어
157,케이티넥스알(KTNexR),https://www.wanted.co.kr/wd/11997,NaN,데이터엔지니어

In [33]:
tool_eng = df_data_eng.loc[~df_data_eng['tool'].isna(), 'tool'].str.split("\n")
tool_eng

0      [Confluence, Git, GitLab, JIRA, Python, SQL, N...
1      [Git, Django, Pytorch, HTML, JavaScript, Pytho...
2                         [Git, React, HTML, JavaScript]
6                                        [MySQL, Python]
8                        [Linux, 컴파일러, 알고리즘 개발, 네트워크 개발]
                             ...
149    [MySQL, Oracle, React, Java, JavaScript, Kotli...
151               [Git, MySQL, Redis, Node.js, AWS, GCP]
152                           [Git, Python, AWS, Docker]
153    [MySQL, Oracle, React, Java, JavaScript, Kotli...
155    [MySQL, Oracle, React, Java, JavaScript, Kotli...
Name: tool, Length: 107, dtype: object

---

# tool 정보 확인

In [50]:
# 컬럼별 중복되는 값 개수 value count하여 DataFrame으로 반환
def count_maker(df, inf): # 입력값 : 데이터 프레임, count 할 컬럼

    inform = df.loc[~df[f'{inf}'].isna(), f'{inf}'].str.split("\n")
    # 입력된 데이터프레임에서 null이 아닌 행만 남김
    # 컬럼 중 입력받은 'inf'컬럼만 남김
    # 해당 inf 컬럼에서 개행문자 '\n' 기준으로 분리하여 infom 리스트에 저장 (중첩리스트 형태)

    informs = []
    for i in inform:
        for j in i:
            informs.append(j)
    # 중첩리스트에서 하나씩 불러와서 informs 리스트에 각각 저장

    return pd.DataFrame({f'{inf}' : informs}).value_counts().reset_index()
    # informs리스트 -> 데이터프레임으로 변환, value_counts()사용하여 중복값 갯수 세어 df로 반환

In [51]:
# 데이터 엔지니어 tool 확인
df_DE_tool = count_maker(df_data_eng, 'tool')
df_DE_tool.head(10)

         tool  count
0      Python     65
1         AWS     42
2         SQL     29
3         Git     28
4        Java     25
5  JavaScript     24
6       React     23
7  TypeScript     23
8       MySQL     21
9      Docker     21

In [52]:
# 데이터 분석 tool 확인
df_AN_tool = count_maker(df_data_anl, 'tool')
df_AN_tool.head(10)

               tool  count
0               SQL     21
1             Excel     12
2           Tableau     10
3            데이터 분석     10
4            Python     10
5              JIRA     10
6  Google Analytics      9
7        Confluence      8
8             Slack      7
9            Notion      7

In [53]:
# 데이터 사이언티스트 tool 확인
df_SCI_tool = count_maker(df_data_sci, 'tool')
df_SCI_tool.head(10)

         tool  count
0      Python     95
1         AWS     63
2         Git     45
3  JavaScript     37
4       React     37
5         SQL     36
6        Java     33
7       MySQL     29
8  TypeScript     29
9      Docker     26

In [162]:
# tool 정보 csv 저장
df_DE_tool.to_csv("tool_DE.csv", encoding = 'ANSI', index = False)
df_AN_tool.to_csv("tool_AN.csv", encoding = 'ANSI', index = False)
df_SCI_tool.to_csv("tool_SC.csv", encoding = 'ANSI', index = False)

---

# 지역정보 확인
- count_maker 함수 활용, 지역 확인
- 지역의 경우 대부분 서울, 경기.. -> 시각화 할 필요성 X

In [54]:
# 데이터 엔지니어 지역
df_DE_location = count_maker(df_data_eng, 'location')
df_DE_location

  location  count
0    서울.한국    136
1    경기.한국     23
2    대전.한국      4
3    경남.한국      1
4    부산.한국      1
5    인천.한국      1

In [55]:
# 데이터 분석가 지역
df_AN_location = count_maker(df_data_anl, 'location')
df_AN_location

  location  count
0    서울.한국    154
1    경기.한국     19

In [56]:
# 데이터 사이언티스트 지역
df_SCI_location = count_maker(df_data_sci, 'location')
df_SCI_location

  location  count
0    서울.한국    200
1    경기.한국     28
2    인천.한국      4
3    대전.한국      2
4    부산.한국      1
5    제주.한국      1

---

# 우대사항 정보 확인

- tool, 지역과 달리 키워드가 아니므로 형태소 분석(단어분리) 필요

- 같은 회사의 공고의 경우 우대사항이 겹치는 경우가 있음
    - 같은 내용 중복 제거 필요

In [57]:
df_DE_prefer = df_data_eng['prefer'].drop_duplicates().str.split("\n") #개행문자 기준 분리
df_DE_prefer

0      [• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자, • 데이터사이언스...
3      [• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자, • 데이터사이언스...
4      [• 가상자산 산업에 관심과 이해가 있는 분, • 데이터 적재 및 활용을 위한 프로...
5      [• Spark, Kafka, Airflow 등 빅데이터 솔루션 경험 우대, • A...
6      [- 컴퓨터 공학 관련 학과 전공, - Full stack 개발자 , - Sprin...
                             ...
161    [- Full-Stack 개발자, - 검색엔진으로 서비스 진행 경험, - 유지보수를...
162    [- 이기종 데이터베이스 마이그레이션 경험이 있으신 분, - 대용량 트래픽 처리를 ...
163    [- 대량의 데이터를 파이프라인으로 다뤄본 경험, - 검색엔진을 다뤄본 경험, - ...
164    [• Big Data 관련 개발 경험 및 관련 Open Source 사용 경험, •...
165    [• Hadoop 및 Hadoop Eco 활용 가능자( hdfs, Spark, Hi...
Name: prefer, Length: 163, dtype: object

In [58]:
df_DE_prefer[0][0]

'• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자'

In [59]:
# 형태소 분석기 별 테스트
from konlpy.tag import Okt
from konlpy.tag import Hannanum 
from konlpy.tag import Kkma 
from konlpy.tag import Komoran 
# from konlpy.tag import Mecab

In [60]:
# 1번째 데이터만 형태소 분석 결과 : 크게 유의미하지 않음
okt = Okt()
print(okt.morphs(df_DE_prefer[0][0]))

['•', 'AI', '또는', '디지털', '을', '활용', '한', '검색', ',', '기사', '발굴', ',', '작성', '경험', '자']

In [61]:
# 나머지 형태소 분석기 테스트
hannanum = Hannanum()
kkma = Kkma()
komoran = Komoran()

- hannanum Class

In [62]:
print(hannanum.analyze(df_DE_prefer[0][0])) # 다양한 형태로 반환
print(hannanum.morphs(df_DE_prefer[0][0])) # 형태소 반환
print(hannanum.nouns(df_DE_prefer[0][0])) # 명사 반환
print(hannanum.pos(df_DE_prefer[0][0])) # 품사 정보 부착하여 반환

[[[('•', 'ncn')], [('•', 'nqq')]], [[('AI', 'f')]], [[('또는', 'maj')]], [[('디지털', 'ncn'), ('을', 'jco')]], [[('활용', 'ncpa'), ('한', 'ncn')], [('활용', 'ncpa'), ('하', 'xsva'), ('ㄴ', 'etm')]], [[('검색', 'ncpa'), (',', 'sp')]], [[('기사', 'ncr')]], [[('발굴', 'ncpa'), (',', 'sp')]], [[('작성', 'ncpa')]], [[('경험자', 'ncn')], [('경험', 'ncpa'), ('자', 'ncn')]]]
['•', 'AI', '또는', '디지털', '을', '활용', '하', 'ㄴ', '검색', ',', '기사', '발굴', ',', '작성', '경험자']
['•', '디지털', '활용', '검색', '기사', '발굴', '작성', '경험자']
[('•', 'N'), ('AI', 'F'), ('또는', 'M'), ('디지털', 'N'), ('을', 'J'), ('활용', 'N'), ('하', 'X'), ('ㄴ', 'E'), ('검색', 'N'), (',', 'S'), ('기사', 'N'), ('발굴', 'N'), (',', 'S'), ('작성', 'N'), ('경험자', 'N')]

- Kkma Class

In [63]:
print(kkma.morphs(df_DE_prefer[0][0])) # 
print(kkma.nouns(df_DE_prefer[0][0])) # 
print(kkma.pos(df_DE_prefer[0][0])) # 
print(kkma.sentences(df_DE_prefer[0][0])) #

['•', 'AI', '또는', '디지털', '을', '활용', '하', 'ㄴ', '검색', ',', '기사', '발굴', ',', '작성', '경험자']
['디지털', '활용', '검색', '기사', '발굴', '작성', '경험자']
[('•', 'SW'), ('AI', 'OL'), ('또는', 'MAG'), ('디지털', 'NNG'), ('을', 'JKO'), ('활용', 'NNG'), ('하', 'XSV'), ('ㄴ', 'ETD'), ('검색', 'NNG'), (',', 'SP'), ('기사', 'NNG'), ('발굴', 'NNG'), (',', 'SP'), ('작성', 'NNG'), ('경험자', 'NNG')]
['• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자']

# kkma 클래스의 nouns 채택

In [141]:
# 데이터프레임에서 명사 추출하여 리스트로 반환하는 함수 생성

def N_pop(df): 
    prefer = df['prefer'].drop_duplicates().dropna().str.split("\n") #개행문자 기준 분리
    N_lists = [] # 추출 된 명사가 들어 갈 리스트 (중첩리스트 형태로 저장)
    for i in prefer:
        for j in i:
            N_lists.append(kkma.nouns(j))

    N_list = [] # 하나의 리스트로 변환

    for i in N_lists:
        for j in i:
            if len(j) > 1: # 글자수가 1개인 경우 리스트에 추가 안함
                N_list.append(j)

    return pd.DataFrame({'prefer' : N_list})

In [159]:
df_DE_key = N_pop(df_data_eng)
df_DE_key = count_maker(df_DE_key, 'prefer')
df_DE_key.to_csv("prefer_DE.csv", encoding = 'ANSI', index = False)

In [160]:
df_DA_key = N_pop(df_data_anl)
df_DA_key = count_maker(df_DA_key, 'prefer')
df_DA_key.to_csv("prefer_DA.csv", encoding = 'ANSI', index = False)

In [161]:
df_SC_key = N_pop(df_data_sci)
df_SC_key = count_maker(df_SC_key, 'prefer')
df_SC_key.to_csv("prefer_SC.csv", encoding = 'ANSI', index = False)