In [295]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [ ]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

In [ ]:
driver.get('https://www.wanted.co.kr/wdlist/518?country=kr&job_sort=job.latest_order&years=-1&selected=1634&selected=655&selected=1024&selected=1025&locations=all')

In [ ]:
# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")
print(last_height)

import time
PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

In [ ]:
position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
link = []
for i in position_link:
    link.append(i.get_attribute('href'))
len(link)

738

In [ ]:
driver.get(link[5])

In [ ]:
region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
region

'서울.한국'

In [ ]:
detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
len(detail)
del detail[0]
len(detail)

5

In [ ]:
detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
len(detail_head)

5

In [ ]:
stack = ''
preference = ''

for i in range(len(detail)):
    if detail_head[i].text == '우대사항':
        preference = detail[i].text
    elif detail_head[i].text == '기술스택 ・ 툴':
        stack = detail[i].text
    target = pd.DataFrame({'stack':stack, 'preference':preference, 'region':region}, index=[0])

target

,stack,preference,region
0,Git\nAngularJS\nReact\nJavaScript\nNode.js\nPy...,• AWS Solution Architecture 자격증,서울.한국

In [ ]:
for i in detail_head:
    print(i.text)

주요업무
자격요건
우대사항
혜택 및 복지

In [ ]:
driver.quit()

In [296]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# 크롤링 결과 데이터 받을 DataFrame 생성
wanted_crawling = pd.DataFrame(columns=['stack', 'preference', 'region'], index=[0])

# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 개발직군 - 데이터 관련 직무 선택
driver.get('https://www.wanted.co.kr/wdlist/518?country=kr&job_sort=job.latest_order&years=-1&selected=1634&selected=655&selected=1024&selected=10231&selected=1025&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for i in range(len(detail)):
            if detail_head[i].text == '우대사항':
                preference = detail[i].text
            elif detail_head[i].text == '기술스택 ・ 툴':
                stack = detail[i].text
        
        target = pd.DataFrame({'stack':stack, 'preference':preference, 'region':region}, index=[0])
        
        wanted_crawling = pd.concat([wanted_crawling, target], ignore_index=True)
    except:
        pass

driver.quit()

In [297]:
# 크롤링 결과 데이터 받을 DataFrame은 위와 동일한 데이터프레임 지정
# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 경영직군 - 데이터 분석가 선택
driver.get('https://www.wanted.co.kr/wdlist/507/656?country=kr&job_sort=job.latest_order&years=-1&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for i in range(len(detail)):
            if detail_head[i].text == '우대사항':
                preference = detail[i].text
            elif detail_head[i].text == '기술스택 ・ 툴':
                stack = detail[i].text
        
        target = pd.DataFrame({'stack':stack, 'preference':preference, 'region':region}, index=[0])
        
        wanted_crawling = pd.concat([wanted_crawling, target], ignore_index=True)
    except:
        pass

driver.quit()

In [300]:
wanted_crawling.head()

,stack,preference,region
0,NaN,NaN,NaN
1,Pytorch\nTensorflow\nPython,• 분산 학습 시스템을 개발한 경험\n• 기계학습 분야에서 좋은 연구 트랙 레코드를...,서울.한국
2,C#\nJava,"• 최적화 관련 실무 경력 5년 이상\n• C#, Java, Python 등을 활용...",경기.한국
3,Azure\nMemcached\nRedis\nJavaScript\nNode.js\n...,"• 대용량 분산 시스템(Hadoop, Kafka, Spark 등) 활용 경험이 있는...",서울.한국
4,Git\nReact\nHTML\nJavaScript,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국

In [298]:
len(wanted_crawling)

974

In [299]:
wanted_crawling.to_csv('data/wanted_crawling_all_pre.csv', index=False)

In [292]:
import pandas as pd
import numpy as np

wanted_crawling = pd.read_csv('data/wanted_crawling_pre.csv', encoding='utf-8')
wanted_crawling.head()

,stack,preference,region
0,NaN,NaN,NaN
1,NaN,"• 수학/통계/컴퓨터공학 등 데이터분석 관련 전공하신 분\n• 데이터마이닝, 머신러...",서울.한국
2,NaN,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국
3,NaN,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국
4,Git\nPytorch\nTensorflow\nPython\nAWS,* 이런 분을 선호합니다.\n\n딥러닝을 활용한 서비스 개발 경험이 있으신 분\n\...,경기.한국

In [293]:
wanted_crawling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stack       586 non-null    object
 1   preference  894 non-null    object
 2   region      912 non-null    object
dtypes: object(3)
memory usage: 21.5+ KB

In [294]:
wanted_crawling.loc[wanted_crawling['stack'] == '', 'stack'] = np.NaN
wanted_crawling.loc[wanted_crawling['preference'] == '', 'preference'] = np.NaN
wanted_crawling.loc[wanted_crawling['region'] == '', 'region'] = np.NaN
wanted_crawling

,stack,preference,region
0,NaN,NaN,NaN
1,NaN,"• 수학/통계/컴퓨터공학 등 데이터분석 관련 전공하신 분\n• 데이터마이닝, 머신러...",서울.한국
2,NaN,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국
3,NaN,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울.한국
4,Git\nPytorch\nTensorflow\nPython\nAWS,* 이런 분을 선호합니다.\n\n딥러닝을 활용한 서비스 개발 경험이 있으신 분\n\...,경기.한국
...,...,...,...
908,NaN,• 비정형 데이터를 다양한 기술을 활용해서 유의미한 정보로 만들 수 있는 분\n• ...,서울.한국
909,NaN,NaN,서울.한국
910,NaN,• 본인의 학업/경력과 관련 된 상세 설명 또는 포트폴리오 제출\n• 분석 솔루션 ...,경기.한국
911,NaN,* 우대 사항은 위 자격 요건 부분을 참고 부탁드립니다.\n\n[기타 사항]\n• ...,서울.한국
912,Hadoop\nJava\nPython\nR\nSAS,• Deep Learning 프로젝트 수행 가능자\n• 석/박사 학위자\n• 관련 ...,서울.한국

In [295]:
wanted_crawling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stack       586 non-null    object
 1   preference  894 non-null    object
 2   region      912 non-null    object
dtypes: object(3)
memory usage: 21.5+ KB

In [296]:
stacks = wanted_crawling.loc[~(wanted_crawling['stack'].isnull()), 'stack'].str.split('\n', regex=True)
stacks

4                [Git, Pytorch, Tensorflow, Python, AWS]
5                                        [MySQL, Python]
6      [Git, AngularJS, React, JavaScript, Node.js, P...
7      [Git, AngularJS, React, JavaScript, Node.js, P...
8                                 [Node.js, Python, AWS]
                             ...
890     [Confluence, JIRA, Slack, Python, MS 오피스, Figma]
893         [Data Analysis, SCM, 비즈니스 분석, 컨설팅, 분석 문제 해결]
906                                    [SAS, SQL, Excel]
907    [JIRA, Excel, Google Analytics, AWS, PowerPoin...
912                       [Hadoop, Java, Python, R, SAS]
Name: stack, Length: 586, dtype: object

In [297]:
test = pd.Series()
test

Series([], dtype: object)

In [298]:
stack_list = []
for i in stacks:
    for j in i:
        stack_list.append(j)
stack_list

['Git',
 'Pytorch',
 'Tensorflow',
 'Python',
 'AWS',
 'MySQL',
 'Python',
 'Git',
 'AngularJS',
 'React',
 'JavaScript',
 'Node.js',
 'Python',
 'AWS',
 'Docker',
 'Git',
 'AngularJS',
 'React',
 'JavaScript',
 'Node.js',
 'Python',
 'AWS',
 'Docker',
 'Node.js',
 'Python',
 'AWS',
 'Node.js',
 'Python',
 'AWS',
 'Python',
 'SQL',
 'Azure',
 'Pytorch',
 'Scikit-Learn',
 'Tensorflow',
 'AWS',
 'GCP',
 'Kotlin',
 'Node.js',
 'TypeScript',
 'AWS',
 'PostgreSQL',
 'Kubernetes',
 'Google Cloud Platform',
 'Python',
 '기계 학습 (Machine Learning)',
 'NLP',
 'AWS',
 '인공 지능',
 '자연 언어 처리',
 'Kotlin',
 'Node.js',
 'TypeScript',
 'AWS',
 'PostgreSQL',
 'Kubernetes',
 'MySQL',
 'AWS',
 'Scripting',
 '서버',
 'NoSQL',
 '네트워크 개발',
 'Redis',
 'Java',
 'Kotlin',
 'C++',
 'DevOps',
 'Docker',
 'ElasticSearch',
 'Golang',
 'Kubernetes',
 'MySQL',
 'Python',
 'AWS',
 'PostgreSQL',
 'Linux',
 '컴파일러',
 '알고리즘 개발',
 '네트워크 개발',
 'HTML',
 'CSS 자바 스크립트',
 '데이터베이스',
 'C++',
 'Windows 서버',
 'STL',
 'MSSQL',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'Python',
 'JavaScript',
 'Python',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'Git',
 'Linux',
 'Python',
 'AWS',
 'Active Directory',
 'DLP',
 'EPM',
 'Git',
 'Github',
 'Python',
 'Docker',
 'PostgreSQL',
 'Git',
 'Github',
 'Python',
 'Docker',
 'PostgreSQL',
 'OpenGL',
 'Java',
 'AWS',
 'RDBMS',
 'Git',
 'Github',
 'MongoDB',
 'MySQL',
 'Pytorch',
 'Scikit-Learn',
 'JavaScript',
 'Node.js',
 'R',
 'SQL',
 'AWS',
 'Jenkins',
 'NoSQL',
 'Apache',
 'Docker',
 'JUnit',
 'MSSQL',
 'Kubernetes',
 'SAP',
 'Git',
 'JIRA',
 'Android',
 'iOS',
 'Linux',
 'MySQL',
 'Oracle',
 'React',
 'HTML',
 'Java',
 'JavaScript',
 'Node.js',
 'Python',
 'R',
 'SQL',
 'TypeScript',
 'BI',
 'AWS',
 'SQL 서버',
 'REST',
 'API',
 'DevOps',
 'API',
 '데이터 분석',
 '데이터 과학',
 'PostgreSQL',
 'Spring Framework',
 'DLP',
 '프론트엔드 개발자',
 '백엔드 개발',
 'iBatis',
 'ML',
 'CSS',
 'HTML',
 'JavaScript',
 'REST',
 'HTTP',
 'React',
 'VueJS',
 'TypeScript',
 'HTML5',
 'CSS3',
 'Angular',
 'Pytorch',
 'Scikit-Learn',
 'Tensorflow',
 'React',
 'VueJS',
 'TypeScript',
 'HTML5',
 'CSS3',
 'Angular',
 'React',
 'VueJS',
 'TypeScript',
 'HTML5',
 'CSS3',
 'Angular',
 'BitBucket',
 'Confluence',
 'Git',
 'JIRA',
 'Pytorch',
 'Tensorflow',
 'Python',
 'C',
 'Go',
 'C++',
 'Docker',
 'Golang',
 'Atlassian JIRA',
 'OpenCV',
 'BitBucket',
 'Confluence',
 'Git',
 'JIRA',
 'Pytorch',
 'Tensorflow',
 'Python',
 'C',
 'Go',
 'C++',
 'Docker',
 'Golang',
 'Atlassian JIRA',
 'OpenCV',
 'Python',
 'R',
 'Power BI',
 'Tableau',
 'Git',
 'MySQL',
 'Java',
 'Jenkins',
 'Spring Framework',
 'JPA',
 'Git',
 'Android',
 'iOS',
 'MySQL',
 'Pytorch',
 'React',
 'Tensorflow',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'Swift',
 '딥 러닝',
 'AWS',
 '신호 처리',
 '인공 지능',
 'JPA',
 'Spring Boot',
 'ML',
 'Linux',
 'Oracle',
 'Java',
 'JavaScript',
 'EAI',
 'Slack',
 'Hadoop',
 'Spark',
 'Jenkins',
 'ElasticSearch',
 'Kubernetes',
 'Pytorch',
 'Tensorflow',
 'Python',
 'Pytorch',
 'Tensorflow',
 'Python',
 'Android',
 'Linux',
 'Java',
 'SQL',
 'iOS 개발',
 '백엔드 개발',
 'Oracle',
 'Java',
 'Android',
 'iOS',
 'Kotlin',
 'Swift',
 'Flutter',
 'Google Cloud Platform',
 'MySQL',
 'Python',
 'SQL',
 'AWS',
 'Pytorch',
 'Scikit-Learn',
 'Tensorflow',
 'Azure',
 'Java',
 'Python',
 'Scala',
 'AWS',
 'Docker',
 'GCP',
 'Kubernetes',
 'Git',
 'Android',
 'iOS',
 'Linux',
 'MySQL',
 'Oracle',
 'React',
 'Kotlin',
 'Python',
 'Shell',
 'Swift',
 'C',
 'C++',
 'UNIX',
 'RDBMS',
 'iOS 개발',
 'Spa',
 'NumPy',
 'React Native',
 'Redux',
 'Restful API',
 'Python',
 'R',
 'SAS',
 'SPSS',
 'Git',
 'Linux',
 'Pytorch',
 'Python',
 'Pytorch',
 'Tensorflow',
 'C / C++',
 'Java',
 'Python',
 'GIS',
 'OpenCV',
 '네비게이션 시스템',
 'GIS 시스템',
 'GIS 응용 프로그램',
 'Pytorch',
 'Tensorflow',
 'C / C++',
 'Java',
 'Python',
 'GIS',
 'OpenCV',
 '네비게이션 시스템',
 'GIS 시스템',
 'GIS 응용 프로그램',
 'Github',
 'C / C++',
 'C++',
 'MFC',
 'Android',
 'iOS',
 'JavaScript',
 'Node.js',
 'PHP',
 'Swift',
 'TypeScript',
 'Data Analysis',
 'AWS',
 'Datastage',
 'Data Guard',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'Github',
 'React',
 'Scikit-Learn',
 'Python',
 'AWS',
 'NumPy',
 'Github',
 'React',
 'Scikit-Learn',
 'Python',
 'AWS',
 'NumPy',
 'Git',
 'Python',
 'AWS',
 'Spring Framework',
 'Apache Spark',
 'Github',
 'JavaScript',
 'Python',
 'SQL',
 'NLP',
 'Google Analytics',
 'MS 오피스',
 'API',
 'ElasticSearch',
 'Spring Framework',
 'Pytorch',
 'React',
 'Tensorflow',
 'HTML',
 'JavaScript',
 'Python',
 'TypeScript',
 'AWS',
 'Pytorch',
 'React',
 'Tensorflow',
 'HTML',
 'JavaScript',
 'Python',
 'TypeScript',
 'AWS',
 'Pytorch',
 'React',
 'Tensorflow',
 'HTML',
 'JavaScript',
 'Python',
 'TypeScript',
 'AWS',
 'Pytorch',
 'React',
 'Tensorflow',
 'HTML',
 'JavaScript',
 'Python',
 'TypeScript',
 'AWS',
 'ObjectiveC',
 'Swift',
 'Leadership',
 '팀 빌딩',
 'AWS',
 '프로그램 관리',
 '시스템 구조',
 '팀 관리',
 '리더십 개발',
 'iOS 개발',
 'iOS 디자인',
 'Pytorch',
 'Tensorflow',
 'Java',
 'Python',
 'SQL',
 'C++',
 '3D',
 'Python',
 'C++',
 'Python',
 'C++',
 'C#',
 'Java',
 'C++',
 'OpenCV',
 'MySQL',
 'Python',
 'AWS',
 'Amplitude',
 'Java',
 'Kotlin',
 'C',
 'C++',
 'Embedded Linux',
 'Qt',
 'Slack',
 'Pytorch',
 'Tensorflow',
 'C / C++',
 'C#',
 'JavaScript',
 'Python',
 'C++',
 'GPU',
 'CUDA',
 'Python',
 'R',
 'SAS',
 'SPSS',
 'Python',
 'SQL',
 'Python',
 'SQL',
 'Confluence',
 'Git',
 'ObjectiveC',
 'Python',
 'Swift',
 'MVVM',
 'Apple Software',
 'React Native',
 'Figma',
 'Restful API',
 'Azure',
 'Java',
 'Python',
 'Scala',
 'AWS',
 'Docker',
 'GCP',
 'Kubernetes',
 'Git',
 'Linux',
 'MySQL',
 'Oracle',
 'HTML',
 'Java',
 'JavaScript',
 'Python',
 'AWS',
 'SVN',
 'Spring Framework',
 'MSSQL',
 'Git',
 'Linux',
 'MySQL',
 'Oracle',
 'HTML',
 'Java',
 'JavaScript',
 'Python',
 'AWS',
 'SVN',
 'Spring Framework',
 'MSSQL',
 'SAP',
 'Java',
 'JSP',
 'JSP 개발',
 'Github',
 'Pytorch',
 'React',
 'Tensorflow',
 'Python',
 'TypeScript',
 'C++',
 'SASS',
 'ROS',
 'Next.js',
 'OpenGL',
 'Java',
 'AWS',
 'RDBMS',
 'iOS',
 'Java',
 'Node.js',
 'Python',
 'C++',
 'API',
 'NodeJS',
 'SAP',
 'Android',
 'iOS',
 'MySQL',
 'React',
 'Java',
 'JavaScript',
 'Kotlin',
 'Python',
 'AWS',
 'Product Management ',
 'Spring Framework',
 'GCP',
 'SAP SD',
 'SAP MM',
 'SAP FI',
 'MySQL',
 'React',
 'HTML',
 'JavaScript',
 'AWS',
 'Spring Framework',
 'Confluence',
 'JIRA',
 'Confluence',
 'JIRA',
 'JavaScript',
 'Python',
 'C',
 'C++',
 'CAD',
 'SPICE',
 'EDA',
 'JSF',
 'MySQL',
 'React',
 'JavaScript',
 'AWS',
 'Docker',
 'Spring Framework',
 'JPA',
 'React',
 'WebGL',
 'CSS',
 'Java',
 'JavaScript',
 'AWS',
 'HTML5',
 'OpenCV',
 'DICOM',
 'Confluence',
 'JIRA',
 'AngularJS',
 'React',
 'JavaScript',
 'TypeScript',
 'AWS',
 'HTML5',
 'Docker',
 'CSS3',
 'Python',
 'R',
 'SQL',
 'Atlassian JIRA',
 'Figma',
 'Confluence',
 'JIRA',
 'Agile',
 '개발',
 'Processing',
 'Product Management ',
 'QA 엔지니어링',
 'Github',
 'JavaScript',
 'Python',
 'SQL',
 'NLP',
 'Google Analytics',
 'MS 오피스',
 'API',
 'ElasticSearch',
 'Spring Framework',
 'Git',
 'GitLab',
 'JIRA',
 'Azure',
 'MySQL',
 'Pytorch',
 'React',
 'CSS',
 'HTML',
 'Java',
 'JavaScript',
 'Python',
 'Shell',
 'TypeScript',
 '유지보수',
 '소프트웨어 개발',
 '개발',
 '데이터베이스',
 '소프트웨어 공학',
 'REST',
 '웹 개발',
 '컴퓨터 공학',
 '데이터베이스 개발',
 '인공 지능',
 '컴퓨터 비전',
 '알고리즘 개발',
 '네트워크 개발',
 '프론트엔드 개발자',
 '백엔드 개발',
 'RESTful WebServices',
 'DICOM',
 'IntelliJ IDEA',
 'RESTful Architecture',
 'Spring Boot',
 'Figma',
 'Restful API',
 'Django',
 'Linux',
 'Pytorch',
 'React',
 'Tensorflow',
 'Python',
 'SQL',
 'TypeScript',
 'AWS',
 'FastAPI',
 'MySQL',
 'Java',
 'Kotlin',
 'AWS',
 'Kubernetes',
 'MySQL',
 'Python',
 'SQL',
 'Github',
 'Flask',
 'Linux',
 'Python',
 'SQL',
 'AWS',
 'FastAPI',
 'ML',
 'Python',
 'C++',
 'Redis',
 'Java',
 'Kotlin',
 'C++',
 'DevOps',
 'Docker',
 'ElasticSearch',
 'Golang',
 'Kubernetes',
 'Oracle',
 'SQL',
 'Spark',
 'Python',
 'SQL',
 'AWS',
 'AngularJS',
 'React',
 'VueJS',
 'CSS',
 'HTML',
 'JavaScript',
 'AWS',
 'UX',
 'UI 디자인',
 'MySQL',
 'Java',
 'JavaScript',
 'Python',
 'SQL',
 'AWS',
 'Spring Boot',
 'Restful API',
 'Pytorch',
 'Tensorflow',
 'Java',
 'Python',
 'SQL',
 'C++',
 '3D',
 'Git',
 'Github',
 'Python',
 'Docker',
 'PostgreSQL',
 'ObjectiveC',
 'Swift',
 'Leadership',
 '팀 빌딩',
 'AWS',
 '프로그램 관리',
 '시스템 구조',
 '팀 관리',
 '리더십 개발',
 'iOS 개발',
 'iOS 디자인',
 'Java',
 'Python',
 'Java',
 'Python',
 'Python',
 'NLP',
 'C++',
 'VueJS',
 'PHP',
 'Laravel',
 'Vue.JS',
 'Oracle',
 'Python',
 'HTML',
 'JavaScript',
 'Python',
 'AWS',
 'HTTP',
 'API',
 'Spring Framework',
 'HTML 5',
 'Linux',
 'C / C++',
 'Python',
 'C++',
 'Github',
 'React',
 'CSS',
 'HTML',
 'JavaScript',
 'PHP',
 'Next.js',
 'Pytorch',
 'Tensorflow',
 'DirectX',
 'C',
 'C++',
 'Git',
 'Linux',
 'Pytorch',
 'Python',
 'SAP',
 'Git',
 'JIRA',
 'Android',
 'iOS',
 'Linux',
 'MySQL',
 'Oracle',
 'React',
 'HTML',
 'Java',
 'JavaScript',
 'Node.js',
 'Python',
 'R',
 'SQL',
 'TypeScript',
 'BI',
 'AWS',
 'SQL 서버',
 'REST',
 'API',
 'DevOps',
 'API',
 '데이터 분석',
 '데이터 과학',
 'PostgreSQL',
 'Spring Framework',
 'DLP',
 '프론트엔드 개발자',
 '백엔드 개발',
 'iBatis',
 'ML',
 'Django',
 'Pytorch',
 'Tensorflow',
 'Python',
 'Docker',
 'AWS',
 'Git',
 'MongoDB',
 'React',
 'Redis',
 'HTML',
 'Java',
 'JavaScript',
 'Node.js',
 'SQL',
 'AWS',
 'HTTP',
 'jQuery',
 'DevOps',
 'ElasticSearch',
 'NodeJS',
 '서버 관리',
 '서버 아키텍처',
 'Azure',
 'Java',
 'Python',
 'Scala',
 'AWS',
 'Docker',
 'GCP',
 'Kubernetes',
 'Azure',
 'Java',
 'Python',
 'Scala',
 'AWS',
 'Docker',
 'GCP',
 'Kubernetes',
 'Github',
 'MongoDB',
 'React',
 'Python',
 'TypeScript',
 'AWS',
 'Docker',
 'C#',
 'Java',
 'Python',
 'SQL',
 'Data Analysis',
 'BI',
 'Tableau',
 '개발',
 '데이터베이스',
 'SQL 서버',
 'API',
 '모델링',
 '데이터 분석',
 '설계',
 '데이터 구조',
 '데이터베이스 설계',
 '데이터베이스 관리',
 '데이터 입력',
 '데이터 통합',
 '연구 및 개발',
 '데이터베이스 개발',
 '기술 개발',
 '기술 관리',
 'QlikView',
 '데이터 수집',
 'Datastage',
 '연구 설계',
 '모델링 및 시뮬레이션',
 '정부 업무',
 '연구 관리',
 'SQL DB2',
 'SQL Azure',
 '데이터베이스 관리',
 '전자정부프레임워크',
 'Github',
 'JavaScript',
 'Python',
 'SQL',
 'NLP',
 'Google Analytics',
 'MS 오피스',
 'API',
 'ElasticSearch',
 'Spring Framework',
 'C#',
 'Java',
 'Python',
 'SQL',
 'Data Analysis',
 ...]

In [299]:
stacks_count = pd.DataFrame(pd.Series(data=stack_list).value_counts()).reset_index()
stacks_count

          index  count
0        Python    326
1           AWS    212
2          Java    120
3           Git    119
4    JavaScript    112
..          ...    ...
429       고객 지원      1
430       기술 문서      1
431       고객 관계      1
432       기술 교육      1
433    분석 문제 해결      1

[434 rows x 2 columns]

In [300]:
wanted_crawling['region'] = wanted_crawling['region'].str.slice(0, 2)
wanted_crawling

,stack,preference,region
0,NaN,NaN,NaN
1,NaN,"• 수학/통계/컴퓨터공학 등 데이터분석 관련 전공하신 분\n• 데이터마이닝, 머신러...",서울
2,NaN,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울
3,NaN,"• AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...",서울
4,Git\nPytorch\nTensorflow\nPython\nAWS,* 이런 분을 선호합니다.\n\n딥러닝을 활용한 서비스 개발 경험이 있으신 분\n\...,경기
...,...,...,...
908,NaN,• 비정형 데이터를 다양한 기술을 활용해서 유의미한 정보로 만들 수 있는 분\n• ...,서울
909,NaN,NaN,서울
910,NaN,• 본인의 학업/경력과 관련 된 상세 설명 또는 포트폴리오 제출\n• 분석 솔루션 ...,경기
911,NaN,* 우대 사항은 위 자격 요건 부분을 참고 부탁드립니다.\n\n[기타 사항]\n• ...,서울
912,Hadoop\nJava\nPython\nR\nSAS,• Deep Learning 프로젝트 수행 가능자\n• 석/박사 학위자\n• 관련 ...,서울

In [301]:
wanted_crawling['region'].value_counts()

region
서울    779
경기    112
대전      9
인천      8
제주      1
경남      1
부산      1
충남      1
Name: count, dtype: int64

In [302]:
stacks_count.columns= ['stack', 'count']
stacks_count['stack'].unique()

array(['Python', 'AWS', 'Java', 'Git', 'JavaScript', 'SQL', 'React',
       'Pytorch', 'MySQL', 'Docker', 'Linux', 'C++', 'TypeScript',
       'Tensorflow', 'Github', 'Spring Framework', 'Node.js', 'Kotlin',
       'HTML', 'Kubernetes', 'PostgreSQL', 'Android', 'JIRA', 'C / C++',
       'C', 'GCP', 'iOS', 'Swift', 'CSS', 'Azure', 'Slack', 'Confluence',
       'ElasticSearch', 'Spark', 'Notion', 'MongoDB', 'Tableau', 'Oracle',
       'OpenCV', 'Google Analytics', 'Hadoop', 'Next.js', 'Figma', 'R',
       '데이터 분석', 'React.js', 'API', 'DevOps', 'C#', 'React Native',
       'Spring Boot', 'NoSQL', 'Jenkins', 'MSSQL', 'Redis', 'RDBMS',
       'NodeJS', 'Scikit-Learn', 'CUDA', 'SAP', 'ObjectiveC', 'NumPy',
       'Django', 'Golang', 'Scala', 'Data Analysis', 'VueJS', 'Excel',
       'Nest.js', 'Flask', 'PHP', 'JPA', 'Redux', 'FastAPI',
       'Restful API', 'Google Cloud Platform', 'NLP',
       'Product Management ', 'MVVM', '프론트엔드 개발자', 'SAP SD', 'SAP MM',
       'SAP FI', 'Ubuntu', '백엔드 개발', '.NET', 'ML', 'FPGA', 'Apache',
       'Vue.JS', 'SoC', 'HTML5', 'Embedded Linux', 'GitLab', '개발', 'Go',
       'BI', 'OpenStack', '인공 지능', 'Amplitude', 'ETL', '영어 실력', 'GraphQL',
       '데이터베이스', '데이터베이스 관리', 'REST', 'Verilog', 'Atlassian JIRA', '딥 러닝',
       'Perl', 'Shell', 'OpenGL', 'SAS', 'Agile', 'VM웨어', 'ROS',
       'ExpressJS', '컴퓨터 비전', 'CISA', 'PMP', 'RESTful WebServices',
       'Kubeflow', 'Framer', 'ORM', 'SQL 서버', 'HTTP', 'MS 오피스', '데이터 과학',
       'DLP', '검증', '카메라', '전자정부프레임워크', 'Rust', '프로젝트 관리', 'BitBucket',
       'Apache Kafka', '정부 업무', 'Xen', 'iOS 개발', 'Flutter', 'Xamarin',
       'Citrix', 'RTL 설계', 'OSS', 'Mac', 'Unity3D', '보안', '보안 관리',
       'Power BI', 'AngularJS', 'UX', '클라이언트 개발', 'CSS3', 'Angular',
       'DirectX', 'jQuery', '서버 관리', 'RabbitMQ', '기술 관리', '설계', '제품 출시',
       '데이터베이스 설계', 'ES6', 'Shell Scripting', '서버', '데이터베이스 개발', 'EDA',
       'MFC', 'Datastage', 'Qt', '프로젝트 계획', 'RTL 코딩', 'SVN', 'Firebase',
       'RedHat', '펌웨어', 'PowerPoint', 'WebGL', 'DICOM', '소프트웨어 개발',
       '제품 전략', '보안 교육', '서비스 관리', 'Shader', 'Embedded C', 'Neo4j',
       'FPGA 프로토 타이핑', '공차 분석', 'CAM', '차량', 'TCL', 'Tomcat', '상품 기획',
       'STP', 'WPF', '프로젝트 실행', 'Xilinx', 'Nginx', '시장 조사', '보안 감사',
       'Asana', '운영체제', '재무 관리', '카산드라', 'UI 디자인', '웹 개발', '모델링 및 시뮬레이션',
       '시스템 구조', '팀 관리', '연구 설계', '데이터 수집', '리더십 개발', 'QlikView',
       'iOS 디자인', '연구 및 개발', '데이터 통합', 'iBatis', '데이터 입력', '데이터 구조',
       '모델링', '알고리즘 개발', '네트워크 개발', '프로그램 관리', '기술 개발', '연구 관리',
       'Apache Spark', 'SQL DB2', 'SQL Azure', 'GIS', 'Leadership',
       '팀 빌딩', '전략 기획', 'JSF', '경영 관리', '재무 제표', 'HP', 'CentOS', 'CAD',
       'Redmine', '분석능력', '신호 처리', 'CSS 자바 스크립트', 'Windows 서버', 'Spa',
       '엑셀 모델', 'SPSS', 'JUnit', '3D', 'GLSL', '이미지 분석', 'ITIL',
       '네비게이션 시스템', 'GIS 시스템', 'GIS 응용 프로그램', 'Data Guard', '이미지 처리',
       'QA 엔지니어링', '금융', 'CCTV', '수학', 'ORCAD', '콘텐츠 제작', '정부 계약',
       'Android Studio', 'NAS', 'IaaS', 'PaaS', '의료 영상', '제품 기획',
       'Adobe XD', 'Bash', 'OOP', '전략 분석', '자연 언어 처리', '데이터 마트',
       '기계 학습 (Machine Learning)', '개인화', '학습 기술', 'AJAX', 'ASP .NET',
       '네트워크 보안', '네트워크 인프라', '손익 계산서', '네트워크 운영', '최적화', 'Mixpanel',
       'Laravel', '백신', 'Spine', 'MXNET', '컨설팅', '모바일 게임 개발', 'API 개발',
       '보안 정책', '비즈니스 분석', 'WebSphere MQ', '제안 관리', '솔루션 개발', '인프라',
       '정보 보안', '정보관리', '리팩토링', 'SCM', '제안 개발', '모바일 게임',
       'Microsoft Word', 'Delphi', '지식 관리', '재고 관리', '고객 경험', 'IT 관리',
       'ABAP', 'IT 운영', 'ERP 소프트웨어', '요구 사항 분석', '언어학', '제안 작성', '다국어',
       '언어 학습', 'VPN', '자산 관리', '인사 관리', '급여 관리', '사무행정', '카지노', '게임 플레이',
       '운영', 'Problem Solving', '프로젝트 구현', '프로젝트 조정', '전략 컨설팅', 'DWDM',
       '관리', 'PMI', 'CPA', '앱 서버', '사업 전략', 'UX 기획', '재무보고', '운영 계획',
       '재무 회계', '운영 전략', '운영 관리', 'SAP ERP', 'Simulink', 'VBA', '리눅스 서버',
       '신용 리스크', '백 오피스', 'ALM', '시장 위험', 'B2C', '임베디드 소프트웨어', '테스트 실행',
       'Svelte', 'SSIS', 'SSAS', '통계', 'PACS', 'HL7', '예측 모델링', 'Altium',
       'PADS', 'PLC', 'MES', 'Ethereum', '은행업', '서버 아키텍처', 'HTML 5',
       'Apple Software', 'Scripting', '컴파일러', 'STL', 'Active Directory',
       'EPM', 'EAI', 'UNIX', 'GPU', 'JSP', 'RESTful Architecture',
       'JSP 개발', 'SASS', 'SPICE', 'Processing', '유지보수', '소프트웨어 공학',
       '컴퓨터 공학', 'IntelliJ IDEA', 'GUI', 'Ruby on Rails', '로봇 프로그래밍',
       '클라우드 응용 프로그램', '강의', '시스템 관리', 'Web Socket', 'WinForm', 'BGP',
       '분석 서비스', '학술 연구', '학술 출판', '소켓', 'OLAP', 'ASIC', 'VHDL', 'RTL 검증',
       '안드로이드 개발', '안드로이드 SDK', 'EC2', '로봇', '임베디드 시스템', 'RTOS', '교육 관리',
       'EnCase', '교육 기술', 'CISSP', '도메인 관리', '라이브러리 관리', 'SSL',
       'Apache 2', 'GCPs', '반도체', '보드 개발', 'PCB 레이아웃 설계', 'RHEL',
       '모바일 기술', 'Unreal Engine', 'EMR', 'CodeIgniter', '의료 산업', '고객 지원',
       '기술 문서', '고객 관계', '기술 교육', '분석 문제 해결'], dtype=object)

In [303]:
stacks_count.loc[stacks_count['stack'].str.contains('보안')]

       stack  count
146       보안      4
147    보안 관리      4
181    보안 교육      4
199    보안 감사      3
280  네트워크 보안      2
293    보안 정책      1
299    정보 보안      1

In [304]:
del_stack = ['데이터 분석', 'Data Analysis', '검증', '카메라', '프로젝트', '정부', '제품', '보안', 'SAP',
             'Leadership', '네비게이션', '금융', 'CCTV', '수학', '콘텐츠', '개인화', '학습', '최적화',
             '인프라', '강의', '학술', '반도체', '의료', '고객', '문서', '해결', '교육', '과학', '관리',
             '분석', '모델링', 'RTL', '펌웨어', '개발', '조사', 'SCM', '유지보수', '설계', '재무 제표', '차량',
             '기획', '컴파일러', '소켓', '운영', '작성', '컨설팅', '사무', 'FPGA', '공학', '로봇', '은행', '재무',
             '사업', '카지노', '플레이', '빌딩', '시장', '백 오피스', '임베디드', '손익', '신용', '테스트',
             '리팩토링', '백신', '구조', '데이터', '통계', 'QA 엔지니어링', 'MVVM', 'Product Management', 'EDA', 'API', 'DevOps', 'Agile', ]

change_stack = {'RESTful WebServices':'RESTful API', 'RESTful Architecture':'RESTful API', 'REST':'RESTful API',
                'Excel':'MS Office', '프론트엔드 개발자':'Web', '백엔드 개발':'Web', '인공 지능':'AI', '영어 실력':'제2외국어', '데이터베이스':'DB',
                '데이터베이스 관리':'DB', '딥 러닝':'ML/DL', '컴퓨터 비전':'OpenCV', 'SQL 서버':'SQL', 'MS 오피스':'MS Office',
                'iOS 개발':'iOS', '데이터베이스 설계':'DB', '데이터베이스 개발':'DB', '카산드라':'Cassandra', '웹 개발':'Web',
                'SQL DB2':'DB2', '엑셀 모델':'MS Office', 'GIS 시스템':'GIS', 'GIS 응용 시스템':'GIS', 'GIS 응용 프로그램':'GIS',
                '기계 학습 (Machine Learning)':'ML/DL', '모바일 게임 개발':'Mobile', '모바일 게임':'Mobile',
                'Microsoft Word':'MS Office', '다국어':'제2외국어', '앱 서버':'Mobile', '리눅스 서버':'Linux', '클라우드 응용 프로그램':'Cloud',
                '안드로이드 개발':'Android', '안드로이드 SDK':'Android', 'EC2':'AWS', '모바일 기술':'Mobile',
                'CSS3':'CSS', 'iOS 디자인':'iOS', '서버 아키텍처':'OS', 'PowerPoint':'MS Office', 'HTML 5':'HTML',
                '데이터 마트':'DB', '이미지 처리':'ML/DL', '신호 처리':'ML/DL', 'Android Studio':'Android',
                '자연 언어 처리':'ML/DL', 'ML':'ML/DL', 'UI 디자인':'UX/UI', 'UX':'UX/UI', 'DWDM':'DB', 'HTML5':'HTML',
                'Golang':'Go', 'Apple Software':'iOS', '언어학':'제2외국어', '서버':'Server', 'C / C++':'C/C++', 'Embeded C':'C/C++', 'C++':'C/C++', 'C':'C/C++',
                'Embedded Linux':'Linux', 'GCP':'Google Cloud Platform', 'Apache 2':'Apache', 'Apache Spark':'Spark', 'Apache Kafka':'Kafka'}

for k, v in change_stack.items():
    stacks_count.loc[stacks_count['stack'] == k, 'stack'] = v

for i in del_stack:
    stacks_count.loc[stacks_count['stack'].str.contains(i), 'stack'] = 'delete'

stacks_count['stack'].unique()

array(['Python', 'AWS', 'Java', 'Git', 'JavaScript', 'SQL', 'React',
       'Pytorch', 'MySQL', 'Docker', 'Linux', 'C/C++', 'TypeScript',
       'Tensorflow', 'Github', 'Spring Framework', 'Node.js', 'Kotlin',
       'HTML', 'Kubernetes', 'PostgreSQL', 'Android', 'JIRA',
       'Google Cloud Platform', 'iOS', 'Swift', 'CSS', 'Azure', 'Slack',
       'Confluence', 'ElasticSearch', 'Spark', 'Notion', 'MongoDB',
       'Tableau', 'Oracle', 'OpenCV', 'Google Analytics', 'Hadoop',
       'Next.js', 'Figma', 'R', 'delete', 'React.js', 'C#',
       'React Native', 'Spring Boot', 'NoSQL', 'Jenkins', 'MSSQL',
       'Redis', 'RDBMS', 'NodeJS', 'Scikit-Learn', 'CUDA', 'ObjectiveC',
       'NumPy', 'Django', 'Go', 'Scala', 'VueJS', 'MS Office', 'Nest.js',
       'Flask', 'PHP', 'JPA', 'Redux', 'NLP', 'Web', 'Ubuntu', '.NET',
       'ML/DL', 'Apache', 'Vue.JS', 'SoC', 'GitLab', 'BI', 'OpenStack',
       'AI', 'Amplitude', 'ETL', '제2외국어', 'GraphQL', 'DB', 'Verilog',
       'Atlassian JIRA', 'Perl', 'Shell', 'OpenGL', 'SAS', 'VM웨어', 'ROS',
       'ExpressJS', 'CISA', 'PMP', 'Kubeflow', 'Framer', 'ORM', 'HTTP',
       'DLP', 'Rust', 'BitBucket', 'Kafka', 'Xen', 'Flutter', 'Xamarin',
       'Citrix', 'OSS', 'Mac', 'Unity3D', 'Power BI', 'AngularJS',
       'UX/UI', 'Angular', 'DirectX', 'jQuery', 'RabbitMQ', 'ES6',
       'Shell Scripting', 'Server', 'MFC', 'Datastage', 'Qt', 'SVN',
       'Firebase', 'RedHat', 'WebGL', 'DICOM', 'Shader', 'Embedded C',
       'Neo4j', 'CAM', 'TCL', 'Tomcat', 'STP', 'WPF', 'Xilinx', 'Nginx',
       'Asana', 'Cassandra', 'QlikView', 'iBatis', 'DB2', 'SQL Azure',
       'GIS', 'JSF', 'HP', 'CentOS', 'CAD', 'Redmine', 'CSS 자바 스크립트',
       'Windows 서버', 'Spa', 'SPSS', 'JUnit', '3D', 'GLSL', 'ITIL',
       'Data Guard', 'ORCAD', 'NAS', 'IaaS', 'PaaS', 'Adobe XD', 'Bash',
       'OOP', 'AJAX', 'ASP .NET', 'Mixpanel', 'Laravel', 'Spine', 'MXNET',
       'Mobile', 'WebSphere MQ', 'Delphi', 'ABAP', 'ERP 소프트웨어', 'VPN',
       'Problem Solving', 'PMI', 'CPA', 'Simulink', 'VBA', 'ALM', 'B2C',
       'Svelte', 'SSIS', 'SSAS', 'PACS', 'HL7', 'Altium', 'PADS', 'PLC',
       'MES', 'Ethereum', 'OS', 'Scripting', 'STL', 'Active Directory',
       'EPM', 'EAI', 'UNIX', 'GPU', 'JSP', 'SASS', 'SPICE', 'Processing',
       'IntelliJ IDEA', 'GUI', 'Ruby on Rails', 'Cloud', 'Web Socket',
       'WinForm', 'BGP', 'OLAP', 'ASIC', 'VHDL', 'RTOS', 'EnCase',
       'CISSP', 'SSL', 'GCPs', 'RHEL', 'Unreal Engine', 'EMR',
       'CodeIgniter'], dtype=object)

In [305]:
stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트']

           stack  count
241  CSS 자바 스크립트      2

In [306]:
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript')]

          stack  count
4    JavaScript    112
28          CSS     31
152         CSS      4

In [307]:
stacks_count = stacks_count.groupby('stack', sort=False).sum().reset_index()
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript'), 'count'] += 2

In [308]:
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript')]

         stack  count
4   JavaScript    114
26         CSS     37

In [309]:
stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트', 'stack'] = 'delete'

In [310]:
stacks_final = stacks_count.loc[stacks_count['stack'] != 'delete'].reset_index(drop=True)
stacks_final['stack'].unique()

array(['Python', 'AWS', 'Java', 'Git', 'JavaScript', 'SQL', 'React',
       'Pytorch', 'MySQL', 'Docker', 'Linux', 'C/C++', 'TypeScript',
       'Tensorflow', 'Github', 'Spring Framework', 'Node.js', 'Kotlin',
       'HTML', 'Kubernetes', 'PostgreSQL', 'Android', 'JIRA',
       'Google Cloud Platform', 'iOS', 'Swift', 'CSS', 'Azure', 'Slack',
       'Confluence', 'ElasticSearch', 'Spark', 'Notion', 'MongoDB',
       'Tableau', 'Oracle', 'OpenCV', 'Google Analytics', 'Hadoop',
       'Next.js', 'Figma', 'R', 'React.js', 'C#', 'React Native',
       'Spring Boot', 'NoSQL', 'Jenkins', 'MSSQL', 'Redis', 'RDBMS',
       'NodeJS', 'Scikit-Learn', 'CUDA', 'ObjectiveC', 'NumPy', 'Django',
       'Go', 'Scala', 'VueJS', 'MS Office', 'Nest.js', 'Flask', 'PHP',
       'JPA', 'Redux', 'NLP', 'Web', 'Ubuntu', '.NET', 'ML/DL', 'Apache',
       'Vue.JS', 'SoC', 'GitLab', 'BI', 'OpenStack', 'AI', 'Amplitude',
       'ETL', '제2외국어', 'GraphQL', 'DB', 'Verilog', 'Atlassian JIRA',
       'Perl', 'Shell', 'OpenGL', 'SAS', 'VM웨어', 'ROS', 'ExpressJS',
       'CISA', 'PMP', 'Kubeflow', 'Framer', 'ORM', 'HTTP', 'DLP', 'Rust',
       'BitBucket', 'Kafka', 'Xen', 'Flutter', 'Xamarin', 'Citrix', 'OSS',
       'Mac', 'Unity3D', 'Power BI', 'AngularJS', 'UX/UI', 'Angular',
       'DirectX', 'jQuery', 'RabbitMQ', 'ES6', 'Shell Scripting',
       'Server', 'MFC', 'Datastage', 'Qt', 'SVN', 'Firebase', 'RedHat',
       'WebGL', 'DICOM', 'Shader', 'Embedded C', 'Neo4j', 'CAM', 'TCL',
       'Tomcat', 'STP', 'WPF', 'Xilinx', 'Nginx', 'Asana', 'Cassandra',
       'QlikView', 'iBatis', 'DB2', 'SQL Azure', 'GIS', 'JSF', 'HP',
       'CentOS', 'CAD', 'Redmine', 'Windows 서버', 'Spa', 'SPSS', 'JUnit',
       '3D', 'GLSL', 'ITIL', 'Data Guard', 'ORCAD', 'NAS', 'IaaS', 'PaaS',
       'Adobe XD', 'Bash', 'OOP', 'AJAX', 'ASP .NET', 'Mixpanel',
       'Laravel', 'Spine', 'MXNET', 'Mobile', 'WebSphere MQ', 'Delphi',
       'ABAP', 'ERP 소프트웨어', 'VPN', 'Problem Solving', 'PMI', 'CPA',
       'Simulink', 'VBA', 'ALM', 'B2C', 'Svelte', 'SSIS', 'SSAS', 'PACS',
       'HL7', 'Altium', 'PADS', 'PLC', 'MES', 'Ethereum', 'OS',
       'Scripting', 'STL', 'Active Directory', 'EPM', 'EAI', 'UNIX',
       'GPU', 'JSP', 'SASS', 'SPICE', 'Processing', 'IntelliJ IDEA',
       'GUI', 'Ruby on Rails', 'Cloud', 'Web Socket', 'WinForm', 'BGP',
       'OLAP', 'ASIC', 'VHDL', 'RTOS', 'EnCase', 'CISSP', 'SSL', 'GCPs',
       'RHEL', 'Unreal Engine', 'EMR', 'CodeIgniter'], dtype=object)

In [311]:
stacks_final.loc[len(stacks_final)] = ['Airflow', 0]
stacks_final

             stack  count
0           Python    326
1              AWS    213
2             Java    120
3              Git    119
4       JavaScript    114
..             ...    ...
220           RHEL      1
221  Unreal Engine      1
222            EMR      1
223    CodeIgniter      1
224        Airflow      0

[225 rows x 2 columns]

In [312]:
stacks_list = stacks_final['stack'].to_list()

In [313]:
no_stack = wanted_crawling.loc[wanted_crawling['stack'].isnull()]
no_stack = no_stack[['preference']].reset_index(drop=True)
no_stack.dropna(axis=0, how='all', inplace=True)
no_stack = no_stack[['preference']].reset_index(drop=True)
no_stack

                                            preference
0    • 수학/통계/컴퓨터공학 등 데이터분석 관련 전공하신 분\n• 데이터마이닝, 머신러...
1    • AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...
2    • AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...
3    • 추천 엔진 개발 유경험자\n• Transformer 기반 딥러닝 개발 유경험자\...
4    • Spark, Kafka, Airflow 등 빅데이터 솔루션 경험 우대\n• AI...
..                                                 ...
313  - B2C 또는 B2B 세일즈 경험이 있으신 분\n- 비즈니스 레벨의 영어가 가능하신 분
314  • 영어, 일본어 등 외국어 가능하신 분\n• 과거 팬클럽 활동 경험이 있으신 분\...
315  • 비정형 데이터를 다양한 기술을 활용해서 유의미한 정보로 만들 수 있는 분\n• ...
316  • 본인의 학업/경력과 관련 된 상세 설명 또는 포트폴리오 제출\n• 분석 솔루션 ...
317  * 우대 사항은 위 자격 요건 부분을 참고 부탁드립니다.\n\n[기타 사항]\n• ...

[318 rows x 1 columns]

In [314]:
for i in stacks_list:
    i_count = no_stack['preference'].str.contains(i).sum()
    stacks_final.loc[stacks_final['stack'] == i, 'count'] += 1

stacks_final

             stack  count
0           Python    327
1              AWS    214
2             Java    121
3              Git    120
4       JavaScript    115
..             ...    ...
220           RHEL      2
221  Unreal Engine      2
222            EMR      2
223    CodeIgniter      2
224        Airflow      1

[225 rows x 2 columns]

In [315]:
stacks_final.sort_values('count', ascending=False).reset_index(drop=True)
stacks_final.head(10)

        stack  count
0      Python    327
1         AWS    214
2        Java    121
3         Git    120
4  JavaScript    115
5         SQL    116
6       React    101
7     Pytorch     96
8       MySQL     95
9      Docker     89

In [316]:
stacks_final['stack'].unique()

array(['Python', 'AWS', 'Java', 'Git', 'JavaScript', 'SQL', 'React',
       'Pytorch', 'MySQL', 'Docker', 'Linux', 'C/C++', 'TypeScript',
       'Tensorflow', 'Github', 'Spring Framework', 'Node.js', 'Kotlin',
       'HTML', 'Kubernetes', 'PostgreSQL', 'Android', 'JIRA',
       'Google Cloud Platform', 'iOS', 'Swift', 'CSS', 'Azure', 'Slack',
       'Confluence', 'ElasticSearch', 'Spark', 'Notion', 'MongoDB',
       'Tableau', 'Oracle', 'OpenCV', 'Google Analytics', 'Hadoop',
       'Next.js', 'Figma', 'R', 'React.js', 'C#', 'React Native',
       'Spring Boot', 'NoSQL', 'Jenkins', 'MSSQL', 'Redis', 'RDBMS',
       'NodeJS', 'Scikit-Learn', 'CUDA', 'ObjectiveC', 'NumPy', 'Django',
       'Go', 'Scala', 'VueJS', 'MS Office', 'Nest.js', 'Flask', 'PHP',
       'JPA', 'Redux', 'NLP', 'Web', 'Ubuntu', '.NET', 'ML/DL', 'Apache',
       'Vue.JS', 'SoC', 'GitLab', 'BI', 'OpenStack', 'AI', 'Amplitude',
       'ETL', '제2외국어', 'GraphQL', 'DB', 'Verilog', 'Atlassian JIRA',
       'Perl', 'Shell', 'OpenGL', 'SAS', 'VM웨어', 'ROS', 'ExpressJS',
       'CISA', 'PMP', 'Kubeflow', 'Framer', 'ORM', 'HTTP', 'DLP', 'Rust',
       'BitBucket', 'Kafka', 'Xen', 'Flutter', 'Xamarin', 'Citrix', 'OSS',
       'Mac', 'Unity3D', 'Power BI', 'AngularJS', 'UX/UI', 'Angular',
       'DirectX', 'jQuery', 'RabbitMQ', 'ES6', 'Shell Scripting',
       'Server', 'MFC', 'Datastage', 'Qt', 'SVN', 'Firebase', 'RedHat',
       'WebGL', 'DICOM', 'Shader', 'Embedded C', 'Neo4j', 'CAM', 'TCL',
       'Tomcat', 'STP', 'WPF', 'Xilinx', 'Nginx', 'Asana', 'Cassandra',
       'QlikView', 'iBatis', 'DB2', 'SQL Azure', 'GIS', 'JSF', 'HP',
       'CentOS', 'CAD', 'Redmine', 'Windows 서버', 'Spa', 'SPSS', 'JUnit',
       '3D', 'GLSL', 'ITIL', 'Data Guard', 'ORCAD', 'NAS', 'IaaS', 'PaaS',
       'Adobe XD', 'Bash', 'OOP', 'AJAX', 'ASP .NET', 'Mixpanel',
       'Laravel', 'Spine', 'MXNET', 'Mobile', 'WebSphere MQ', 'Delphi',
       'ABAP', 'ERP 소프트웨어', 'VPN', 'Problem Solving', 'PMI', 'CPA',
       'Simulink', 'VBA', 'ALM', 'B2C', 'Svelte', 'SSIS', 'SSAS', 'PACS',
       'HL7', 'Altium', 'PADS', 'PLC', 'MES', 'Ethereum', 'OS',
       'Scripting', 'STL', 'Active Directory', 'EPM', 'EAI', 'UNIX',
       'GPU', 'JSP', 'SASS', 'SPICE', 'Processing', 'IntelliJ IDEA',
       'GUI', 'Ruby on Rails', 'Cloud', 'Web Socket', 'WinForm', 'BGP',
       'OLAP', 'ASIC', 'VHDL', 'RTOS', 'EnCase', 'CISSP', 'SSL', 'GCPs',
       'RHEL', 'Unreal Engine', 'EMR', 'CodeIgniter', 'Airflow'],
      dtype=object)

## 세부 직군 별로 가져오기

In [209]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# 크롤링 결과 데이터 받을 DataFrame 생성
wanted_DBA = pd.DataFrame(columns=['stack', 'preference', 'region'], index=[0])

# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 개발직군 - DBA
driver.get('https://www.wanted.co.kr/wdlist/518/10231?country=kr&job_sort=job.latest_order&years=-1&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for i in range(len(detail)):
            if detail_head[i].text == '우대사항':
                preference = detail[i].text
            elif detail_head[i].text == '기술스택 ・ 툴':
                stack = detail[i].text
        
        target = pd.DataFrame({'stack':stack, 'preference':preference, 'region':region}, index=[0])
        
        wanted_DBA = pd.concat([wanted_DBA, target], ignore_index=True)
    except:
        pass

driver.quit()

wanted_DBA.to_csv('data/wanted_crawling_DBA_pre.csv', index=False)

In [210]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# 크롤링 결과 데이터 받을 DataFrame 생성
wanted_DE = pd.DataFrame(columns=['stack', 'preference', 'region'], index=[0])

# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 개발직군 - 데이터 엔지니어
driver.get('https://www.wanted.co.kr/wdlist/518/655?country=kr&job_sort=job.latest_order&years=-1&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for i in range(len(detail)):
            if detail_head[i].text == '우대사항':
                preference = detail[i].text
            elif detail_head[i].text == '기술스택 ・ 툴':
                stack = detail[i].text
        
        target = pd.DataFrame({'stack':stack, 'preference':preference, 'region':region}, index=[0])
        
        wanted_DE = pd.concat([wanted_DE, target], ignore_index=True)
    except:
        pass

driver.quit()

wanted_DE.to_csv('data/wanted_crawling_DE_pre.csv', index=False)

In [208]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# 크롤링 결과 데이터 받을 DataFrame 생성
wanted_MLE = pd.DataFrame(columns=['stack', 'preference', 'region'], index=[0])

# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 개발직군 - 머신러닝 엔지니어
driver.get('https://www.wanted.co.kr/wdlist/518/1634?country=kr&job_sort=job.latest_order&years=-1&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for i in range(len(detail)):
            if detail_head[i].text == '우대사항':
                preference = detail[i].text
            elif detail_head[i].text == '기술스택 ・ 툴':
                stack = detail[i].text
        
        target = pd.DataFrame({'stack':stack, 'preference':preference, 'region':region}, index=[0])
        
        wanted_MLE = pd.concat([wanted_MLE, target], ignore_index=True)
    except:
        pass

driver.quit()

wanted_MLE.to_csv('data/wanted_crawling_MLE_pre.csv', index=False)

In [262]:
wanted_DBA = pd.read_csv('data/wanted_crawling_DBA_pre.csv')

wanted_DBA.loc[wanted_DBA['stack'] == '', 'stack'] = np.NaN
wanted_DBA.loc[wanted_DBA['preference'] == '', 'preference'] = np.NaN
wanted_DBA.loc[wanted_DBA['region'] == '', 'region'] = np.NaN

stacks = wanted_DBA.loc[~(wanted_DBA['stack'].isnull()), 'stack'].str.split('\n', regex=True)
stacks

stack_list = []
for i in stacks:
    for j in i:
        stack_list.append(j)
stack_list

stacks_count = pd.DataFrame(pd.Series(data=stack_list).value_counts()).reset_index()
wanted_DBA['region'] = wanted_DBA['region'].str.slice(0, 2)

stacks_count.columns= ['stack', 'count']

del_stack = ['데이터 분석', 'Data Analysis', '검증', '카메라', '프로젝트', '정부', '제품', '보안', 'SAP',
             'Leadership', '네비게이션', '금융', 'CCTV', '수학', '콘텐츠', '개인화', '학습', '최적화',
             '인프라', '강의', '학술', '반도체', '의료', '고객', '문서', '해결', '교육', '과학', '관리',
             '분석', '모델링', 'RTL', '펌웨어', '개발', '조사', 'SCM', '유지보수', '설계', '재무 제표', '차량',
             '기획', '컴파일러', '소켓', '운영', '작성', '컨설팅', '사무', 'FPGA', '공학', '로봇', '은행', '재무',
             '사업', '카지노', '플레이', '빌딩', '시장', '백 오피스', '임베디드', '손익', '신용', '테스트',
             '리팩토링', '백신', '구조', '데이터', '통계', 'QA 엔지니어링', 'MVVM', 'Product Management', 'EDA', 'API', 'DevOps', 'Agile', ]

change_stack = {'RESTful WebServices':'RESTful API', 'RESTful Architecture':'RESTful API', 'REST':'RESTful API',
                'Excel':'MS Office', '프론트엔드 개발자':'Web', '백엔드 개발':'Web', '인공 지능':'AI', '영어 실력':'제2외국어', '데이터베이스':'DB',
                '데이터베이스 관리':'DB', '딥 러닝':'ML/DL', '컴퓨터 비전':'OpenCV', 'SQL 서버':'SQL', 'MS 오피스':'MS Office',
                'iOS 개발':'iOS', '데이터베이스 설계':'DB', '데이터베이스 개발':'DB', '카산드라':'Cassandra', '웹 개발':'Web',
                'SQL DB2':'DB2', '엑셀 모델':'MS Office', 'GIS 시스템':'GIS', 'GIS 응용 시스템':'GIS', 'GIS 응용 프로그램':'GIS',
                '기계 학습 (Machine Learning)':'ML/DL', '모바일 게임 개발':'Mobile', '모바일 게임':'Mobile',
                'Microsoft Word':'MS Office', '다국어':'제2외국어', '앱 서버':'Mobile', '리눅스 서버':'Linux', '클라우드 응용 프로그램':'Cloud',
                '안드로이드 개발':'Android', '안드로이드 SDK':'Android', 'EC2':'AWS', '모바일 기술':'Mobile',
                'CSS3':'CSS', 'iOS 디자인':'iOS', '서버 아키텍처':'OS', 'PowerPoint':'MS Office', 'HTML 5':'HTML',
                '데이터 마트':'DB', '이미지 처리':'ML/DL', '신호 처리':'ML/DL', 'Android Studio':'Android',
                '자연 언어 처리':'ML/DL', 'ML':'ML/DL', 'UI 디자인':'UX/UI', 'UX':'UX/UI', 'DWDM':'DB', 'HTML5':'HTML',
                'Golang':'Go', 'Apple Software':'iOS', '언어학':'제2외국어', '서버':'Server', 'C / C++':'C/C++', 'Embeded C':'C/C++', 'C++':'C/C++', 'C':'C/C++',
                'Embedded Linux':'Linux', 'GCP':'Google Cloud Platform', 'Apache 2':'Apache', 'Apache Spark':'Spark', 'Apache Kafka':'Kafka'}

for k, v in change_stack.items():
    stacks_count.loc[stacks_count['stack'] == k, 'stack'] = v

for i in del_stack:
    stacks_count.loc[stacks_count['stack'].str.contains(i), 'stack'] = 'delete'

stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트']

Empty DataFrame
Columns: [stack, count]
Index: []

In [263]:
stacks_count = stacks_count.groupby('stack', sort=False).sum().reset_index()

In [264]:
DBA_final = stacks_count.loc[stacks_count['stack'] != 'delete'].reset_index(drop=True)
DBA_final['stack'].unique()

array(['AWS', 'MySQL', 'Python', 'SQL', 'Java', 'React',
       'Spring Framework', 'Git', 'JavaScript', 'Linux', 'Spring Boot',
       'iOS', 'Docker', 'Kubernetes', 'MSSQL', 'HTML', 'React.js',
       'Android', 'PostgreSQL', 'C/C++', 'TypeScript', 'Oracle',
       'MongoDB', 'Next.js', 'Jenkins', 'Node.js', 'VueJS', 'CISA',
       'Swift', 'GitLab', 'NoSQL', 'CSS', 'Github', 'PHP', 'ES6',
       'NodeJS', 'Redis', 'ObjectiveC', 'Mac', 'React Native', 'OSS',
       '제2외국어', 'Xen', 'Xamarin', 'OpenStack', 'Pytorch', 'Citrix', 'PMP',
       'VM웨어', 'Spark', '.NET', 'Azure', 'Google Cloud Platform', 'DLP',
       'Kotlin', 'Go', 'CentOS', 'Bootstrap', 'UX/UI', 'ExpressJS',
       'ElasticSearch', 'Shell', 'JUnit', 'Scala', 'Windows 서버', 'DB',
       'Tensorflow', 'C#', 'GIS', 'Google Analytics', 'DirectX', 'CRM',
       'Slack', 'Confluence', 'BitBucket', 'ERP 소프트웨어', 'Delphi',
       'Server', '복제', 'STL', 'Scikit-Learn', 'R', 'Apache', 'Rx', 'NAS',
       'Web', 'Hadoop', 'Scripting', 'Nest.js', 'ABAP', 'UNIX',
       'IntelliJ IDEA', 'Visual Studio Code', 'OpenCV', 'Rust', 'Vue.JS',
       'DSL', 'BI', 'IPS', 'CISSP', '방화벽', 'RabbitMQ', 'Nginx', 'JPA',
       'Puppet', 'Data Guard', 'SSL', 'SVN', 'Tomcat', 'JIRA', 'SSO',
       'SQL 튜닝', 'RDBMS', 'Mobile', 'Ubuntu', 'VPN', 'JSP', 'Redux',
       'MMO', 'Notion', 'Flutter', 'SASS', 'RPG', 'Firebase', 'Kafka',
       'Shell Scripting'], dtype=object)

In [265]:
DBA_final.loc[len(DBA_final)] = ['Airflow', 0]
DBA_final

               stack  count
0                AWS     28
1              MySQL     23
2             Python     20
3                SQL     20
4               Java     18
..               ...    ...
122              RPG      1
123         Firebase      1
124            Kafka      1
125  Shell Scripting      1
126          Airflow      0

[127 rows x 2 columns]

In [266]:
stacks_list = DBA_final['stack'].to_list()

In [267]:
no_stack_DBA = wanted_DBA.loc[wanted_DBA['stack'].isnull()]
no_stack_DBA = no_stack_DBA[['preference']].reset_index(drop=True)
no_stack_DBA.dropna(axis=0, how='all', inplace=True)
no_stack_DBA = no_stack_DBA[['preference']].reset_index(drop=True)
no_stack_DBA

                                           preference
0   • DB 모니터링 프로세스 구축 및 관제 경험이 있는 분\n• SQLD , DAP,...
1   - 전형절차\n • 서류전형 ＞ 필기전형(SKCT) ＞ 면접전형 ＞ 처우협의 ＞ 채...
2   - 전형절차\n • 서류전형 ＞ 필기전형(SKCT) ＞ 면접전형 ＞ 처우협의 ＞ 채...
3   • 게임 서비스 DB 작업 경험이 있으신 분\n• 대규모 데이터 기반 DB 작업 경...
4   • MongoDB 경험이 있으시면 더 좋습니다.\n• 금융/핀테크 및 커머스 서비스...
5   [이러한 분이면 더욱 좋습니다.]\n• NoSQL 경험이 있는 분\n• DB 모니터...
6   [이러한 분이면 더욱 좋습니다]\n• AWS 등 클라우드 환경에서 서비스 운영 및 ...
7   • Microsoft 인증 (예: MCSA, MCSE) 을 보유하신 분\n• 대규모...
8   [이런 경험이 있으시면 더욱 좋습니다.]\n\n• ORM(Object Relatio...
9   · 금융기관 데이터베이스 운영, 엔지니어링 경험자 우대\n · 오픈소스 DB(MyS...
10  • 게임 데이터에 대한 이해와 데이터 설계 /추출 경험이 있는 분\n• 머신 러닝에...
11  • 상용 DBMS 운영경험 (Oracle, MS-SQL)\n• 클라우드 DB 운영경...
12  - 핀테크, 금융권 Oracle Database 관리 경험자\n- mysql, ma...
13  • AWS 기반의 DB 운영 경험이 있으신 분\n• 불특정 다수를 대상으로 온라인 ...
14  • 해당직무 근무경험\n• Python, Node.js를 이용한 개발 경험 있으신분...
15  • 데이터 모델 검수 및 가이드 경험 있으신 분\n• 데이터 흐름 분석 및 데이터 ...

In [268]:
for i in stacks_list:
    i_count = no_stack_DBA['preference'].str.contains(i).sum()
    DBA_final.loc[DBA_final['stack'] == i, 'count'] += 1

DBA_final

               stack  count
0                AWS     29
1              MySQL     24
2             Python     21
3                SQL     21
4               Java     19
..               ...    ...
122              RPG      2
123         Firebase      2
124            Kafka      2
125  Shell Scripting      2
126          Airflow      1

[127 rows x 2 columns]

In [269]:
DBA_final.sort_values('count', ascending=False, ignore_index=True, inplace=True)
DBA_final.head(10)

              stack  count
0               AWS     29
1             MySQL     24
2            Python     21
3               SQL     21
4              Java     19
5             React     16
6  Spring Framework     16
7               Git     15
8             C/C++     15
9        JavaScript     14

In [270]:
wanted_DE = pd.read_csv('data/wanted_crawling_DE_pre.csv')

wanted_DE.loc[wanted_DE['stack'] == '', 'stack'] = np.NaN
wanted_DE.loc[wanted_DE['preference'] == '', 'preference'] = np.NaN
wanted_DE.loc[wanted_DE['region'] == '', 'region'] = np.NaN

stacks = wanted_DE.loc[~(wanted_DE['stack'].isnull()), 'stack'].str.split('\n', regex=True)
stacks

stack_list = []
for i in stacks:
    for j in i:
        stack_list.append(j)
stack_list

stacks_count = pd.DataFrame(pd.Series(data=stack_list).value_counts()).reset_index()
wanted_DE['region'] = wanted_DE['region'].str.slice(0, 2)

stacks_count.columns= ['stack', 'count']

del_stack = ['데이터 분석', 'Data Analysis', '검증', '카메라', '프로젝트', '정부', '제품', '보안', 'SAP',
             'Leadership', '네비게이션', '금융', 'CCTV', '수학', '콘텐츠', '개인화', '학습', '최적화',
             '인프라', '강의', '학술', '반도체', '의료', '고객', '문서', '해결', '교육', '과학', '관리',
             '분석', '모델링', 'RTL', '펌웨어', '개발', '조사', 'SCM', '유지보수', '설계', '재무 제표', '차량',
             '기획', '컴파일러', '소켓', '운영', '작성', '컨설팅', '사무', 'FPGA', '공학', '로봇', '은행', '재무',
             '사업', '카지노', '플레이', '빌딩', '시장', '백 오피스', '임베디드', '손익', '신용', '테스트',
             '리팩토링', '백신', '구조', '데이터', '통계', 'QA 엔지니어링', 'MVVM', 'Product Management', 'EDA', 'API', 'DevOps', 'Agile', ]

change_stack = {'RESTful WebServices':'RESTful API', 'RESTful Architecture':'RESTful API', 'REST':'RESTful API',
                'Excel':'MS Office', '프론트엔드 개발자':'Web', '백엔드 개발':'Web', '인공 지능':'AI', '영어 실력':'제2외국어', '데이터베이스':'DB',
                '데이터베이스 관리':'DB', '딥 러닝':'ML/DL', '컴퓨터 비전':'OpenCV', 'SQL 서버':'SQL', 'MS 오피스':'MS Office',
                'iOS 개발':'iOS', '데이터베이스 설계':'DB', '데이터베이스 개발':'DB', '카산드라':'Cassandra', '웹 개발':'Web',
                'SQL DB2':'DB2', '엑셀 모델':'MS Office', 'GIS 시스템':'GIS', 'GIS 응용 시스템':'GIS', 'GIS 응용 프로그램':'GIS',
                '기계 학습 (Machine Learning)':'ML/DL', '모바일 게임 개발':'Mobile', '모바일 게임':'Mobile',
                'Microsoft Word':'MS Office', '다국어':'제2외국어', '앱 서버':'Mobile', '리눅스 서버':'Linux', '클라우드 응용 프로그램':'Cloud',
                '안드로이드 개발':'Android', '안드로이드 SDK':'Android', 'EC2':'AWS', '모바일 기술':'Mobile',
                'CSS3':'CSS', 'iOS 디자인':'iOS', '서버 아키텍처':'OS', 'PowerPoint':'MS Office', 'HTML 5':'HTML',
                '데이터 마트':'DB', '이미지 처리':'ML/DL', '신호 처리':'ML/DL', 'Android Studio':'Android',
                '자연 언어 처리':'ML/DL', 'ML':'ML/DL', 'UI 디자인':'UX/UI', 'UX':'UX/UI', 'DWDM':'DB', 'HTML5':'HTML',
                'Golang':'Go', 'Apple Software':'iOS', '언어학':'제2외국어', '서버':'Server', 'C / C++':'C/C++', 'Embeded C':'C/C++', 'C++':'C/C++', 'C':'C/C++',
                'Embedded Linux':'Linux', 'GCP':'Google Cloud Platform', 'Apache 2':'Apache', 'Apache Spark':'Spark', 'Apache Kafka':'Kafka'}

for k, v in change_stack.items():
    stacks_count.loc[stacks_count['stack'] == k, 'stack'] = v

for i in del_stack:
    stacks_count.loc[stacks_count['stack'].str.contains(i), 'stack'] = 'delete'

stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트']

           stack  count
217  CSS 자바 스크립트      1

In [271]:
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript')]

          stack  count
3    JavaScript     64
26          CSS     18
149         CSS      2

In [272]:
stacks_count = stacks_count.groupby('stack', sort=False).sum().reset_index()
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript'), 'count'] += 1

In [273]:
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript')]

         stack  count
3   JavaScript     65
26         CSS     21

In [274]:
stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트', 'stack'] = 'delete'

In [275]:
DE_final = stacks_count.loc[stacks_count['stack'] != 'delete'].reset_index(drop=True)
DE_final['stack'].unique()

array(['Python', 'AWS', 'Java', 'JavaScript', 'MySQL', 'Git', 'SQL',
       'React', 'Docker', 'Linux', 'TypeScript', 'Spring Framework',
       'Node.js', 'Github', 'Pytorch', 'HTML', 'Kubernetes', 'Kotlin',
       'Google Cloud Platform', 'Tensorflow', 'PostgreSQL', 'C/C++',
       'Azure', 'Android', 'JIRA', 'Swift', 'CSS', 'iOS', 'MongoDB',
       'Oracle', 'ElasticSearch', 'Spark', 'MSSQL', 'Next.js', 'R',
       'React Native', 'NodeJS', 'Hadoop', 'Google Analytics', 'Jenkins',
       'ObjectiveC', 'Nest.js', 'Redis', 'JPA', 'React.js', 'Flask',
       'Figma', 'OpenCV', 'NoSQL', 'RDBMS', 'Confluence', 'NLP', 'Django',
       'Tableau', 'Scala', 'ML/DL', 'C#', 'Slack', 'OpenStack', 'VueJS',
       'Spring Boot', 'Notion', 'PHP', '.NET', 'Framer', 'NumPy',
       'GitLab', 'Go', 'BI', 'DB', 'DLP', 'Scikit-Learn', 'ETL', 'Web',
       'VM웨어', 'Server', 'SVN', 'CISA', 'Shell Scripting', 'HTTP',
       'Vue.JS', 'Firebase', 'Xen', 'OSS', 'Rust', 'Neo4j', '제2외국어',
       'Xamarin', 'ROS', 'Citrix', 'ExpressJS', 'PMP', 'Mac', 'Shell',
       'MS Office', 'Power BI', 'iBatis', 'Apache', 'BitBucket',
       'AngularJS', 'AI', 'SAS', 'Nginx', 'PaaS', 'SPSS', 'IaaS', 'CUDA',
       'Svelte', 'Amplitude', 'JUnit', 'JSF', 'Tomcat', 'Windows 서버',
       'GraphQL', 'CentOS', 'ES6', 'Redux', 'OpenGL', 'Kubeflow', '3D',
       'QlikView', 'UX/UI', 'Datastage', 'DirectX', 'DB2', 'SQL Azure',
       'BGP', 'Spa', 'EnCase', 'Mobile', 'OLAP', 'Memcached', '페르소나',
       'Processing', 'JSP', 'Mixpanel', '품질 보증', 'ASP .NET', 'Unity3D',
       'Spine', 'Laravel', 'NAS', 'ABAP', 'VBA', 'Cloud', 'ITIL', 'EPM',
       'Ethereum', 'AJAX', 'MES', 'PLC', 'PADS', 'ORCAD', 'Altium',
       'DICOM', 'HL7', 'PACS', 'WPF', 'SSAS', 'SSIS', 'Angular',
       'Atlassian JIRA', 'Qt', 'Bash', 'Active Directory', 'STL', 'OS',
       'RHEL', 'VPN', 'CISSP', 'Kafka', 'Flutter', 'GCPs', 'RabbitMQ',
       'SSL', 'Ubuntu', 'jQuery', 'Scripting', 'Cassandra', 'Asana',
       'Delphi'], dtype=object)

In [276]:
DE_final.loc[len(DE_final)] = ['Airflow', 0]
DE_final

          stack  count
0        Python    159
1           AWS    129
2          Java     64
3    JavaScript     65
4         MySQL     59
..          ...    ...
177   Scripting      1
178   Cassandra      1
179       Asana      1
180      Delphi      1
181     Airflow      0

[182 rows x 2 columns]

In [277]:
stacks_list = DE_final['stack'].to_list()

In [278]:
no_stack_DE = wanted_DE.loc[wanted_DE['stack'].isnull()]
no_stack_DE = no_stack_DE[['preference']].reset_index(drop=True)
no_stack_DE.dropna(axis=0, how='all', inplace=True)
no_stack_DE = no_stack_DE[['preference']].reset_index(drop=True)
no_stack_DE

                                           preference
0   • AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...
1   - 데이터 처리의 필요성 및 중요성에 대해 공감하시는 분\n- 문제 해결 능력이 뛰...
2   • AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...
3   • AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자\n• 데이터사이언스,...
4   • 추천 엔진 개발 유경험자\n• Transformer 기반 딥러닝 개발 유경험자\...
..                                                ...
95  • 하둡, 스파크 등 대용량 데이터 처리 시스템 설계 및 운영 경험이 있으신 분\n...
96  [이런 분이라면 더 좋아요!]\n• AWS/GCP 등 클라우드 환경에서 데이터 플랫...
97  - 이기종 데이터베이스 마이그레이션 경험이 있으신 분\n- 대용량 트래픽 처리를 위...
98  - 데이터 사이언스 관련 전공자\n- 퍼블릭 클라우드 환경 (GCP, AWS, Az...
99  • ML 관련 Top-tier 학회 및 저널 Publication 실적\n(Neur...

[100 rows x 1 columns]

In [279]:
for i in stacks_list:
    i_count = no_stack_DE['preference'].str.contains(i).sum()
    DE_final.loc[DE_final['stack'] == i, 'count'] += 1

DE_final

          stack  count
0        Python    160
1           AWS    130
2          Java     65
3    JavaScript     66
4         MySQL     60
..          ...    ...
177   Scripting      2
178   Cassandra      2
179       Asana      2
180      Delphi      2
181     Airflow      1

[182 rows x 2 columns]

In [280]:
DE_final.sort_values('count', ascending=False, ignore_index=True, inplace=True)
DE_final.head(10)

        stack  count
0      Python    160
1         AWS    130
2  JavaScript     66
3        Java     65
4       MySQL     60
5         SQL     59
6         Git     58
7       React     54
8      Docker     48
9       Linux     46

In [281]:
wanted_MLE = pd.read_csv('data/wanted_crawling_MLE_pre.csv')

wanted_MLE.loc[wanted_MLE['stack'] == '', 'stack'] = np.NaN
wanted_MLE.loc[wanted_MLE['preference'] == '', 'preference'] = np.NaN
wanted_MLE.loc[wanted_MLE['region'] == '', 'region'] = np.NaN

stacks = wanted_MLE.loc[~(wanted_MLE['stack'].isnull()), 'stack'].str.split('\n', regex=True)
stacks

stack_list = []
for i in stacks:
    for j in i:
        stack_list.append(j)
stack_list

stacks_count = pd.DataFrame(pd.Series(data=stack_list).value_counts()).reset_index()
wanted_MLE['region'] = wanted_DE['region'].str.slice(0, 2)

stacks_count.columns= ['stack', 'count']

del_stack = ['데이터 분석', 'Data Analysis', '검증', '카메라', '프로젝트', '정부', '제품', '보안', 'SAP',
             'Leadership', '네비게이션', '금융', 'CCTV', '수학', '콘텐츠', '개인화', '학습', '최적화',
             '인프라', '강의', '학술', '반도체', '의료', '고객', '문서', '해결', '교육', '과학', '관리',
             '분석', '모델링', 'RTL', '펌웨어', '개발', '조사', 'SCM', '유지보수', '설계', '재무 제표', '차량',
             '기획', '컴파일러', '소켓', '운영', '작성', '컨설팅', '사무', 'FPGA', '공학', '로봇', '은행', '재무',
             '사업', '카지노', '플레이', '빌딩', '시장', '백 오피스', '임베디드', '손익', '신용', '테스트',
             '리팩토링', '백신', '구조', '데이터', '통계', 'QA 엔지니어링', 'MVVM', 'Product Management', 'EDA', 'API', 'DevOps', 'Agile', ]

change_stack = {'RESTful WebServices':'RESTful API', 'RESTful Architecture':'RESTful API', 'REST':'RESTful API',
                'Excel':'MS Office', '프론트엔드 개발자':'Web', '백엔드 개발':'Web', '인공 지능':'AI', '영어 실력':'제2외국어', '데이터베이스':'DB',
                '데이터베이스 관리':'DB', '딥 러닝':'ML/DL', '컴퓨터 비전':'OpenCV', 'SQL 서버':'SQL', 'MS 오피스':'MS Office',
                'iOS 개발':'iOS', '데이터베이스 설계':'DB', '데이터베이스 개발':'DB', '카산드라':'Cassandra', '웹 개발':'Web',
                'SQL DB2':'DB2', '엑셀 모델':'MS Office', 'GIS 시스템':'GIS', 'GIS 응용 시스템':'GIS', 'GIS 응용 프로그램':'GIS',
                '기계 학습 (Machine Learning)':'ML/DL', '모바일 게임 개발':'Mobile', '모바일 게임':'Mobile',
                'Microsoft Word':'MS Office', '다국어':'제2외국어', '앱 서버':'Mobile', '리눅스 서버':'Linux', '클라우드 응용 프로그램':'Cloud',
                '안드로이드 개발':'Android', '안드로이드 SDK':'Android', 'EC2':'AWS', '모바일 기술':'Mobile',
                'CSS3':'CSS', 'iOS 디자인':'iOS', '서버 아키텍처':'OS', 'PowerPoint':'MS Office', 'HTML 5':'HTML',
                '데이터 마트':'DB', '이미지 처리':'ML/DL', '신호 처리':'ML/DL', 'Android Studio':'Android',
                '자연 언어 처리':'ML/DL', 'ML':'ML/DL', 'UI 디자인':'UX/UI', 'UX':'UX/UI', 'DWDM':'DB', 'HTML5':'HTML',
                'Golang':'Go', 'Apple Software':'iOS', '언어학':'제2외국어', '서버':'Server', 'C / C++':'C/C++', 'Embeded C':'C/C++', 'C++':'C/C++', 'C':'C/C++',
                'Embedded Linux':'Linux', 'GCP':'Google Cloud Platform', 'Apache 2':'Apache', 'Apache Spark':'Spark', 'Apache Kafka':'Kafka'}

for k, v in change_stack.items():
    stacks_count.loc[stacks_count['stack'] == k, 'stack'] = v

for i in del_stack:
    stacks_count.loc[stacks_count['stack'].str.contains(i), 'stack'] = 'delete'

stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트']

           stack  count
156  CSS 자바 스크립트      1

In [282]:
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript')]

          stack  count
7    JavaScript     53
28          CSS     14
206         CSS      1

In [283]:
stacks_count = stacks_count.groupby('stack', sort=False).sum().reset_index()
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript'), 'count'] += 1

In [284]:
stacks_count.loc[(stacks_count['stack'] == 'CSS') | (stacks_count['stack'] == 'JavaScript')]

         stack  count
7   JavaScript     54
26         CSS     16

In [285]:
stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트', 'stack'] = 'delete'

In [286]:
MLE_final = stacks_count.loc[stacks_count['stack'] != 'delete'].reset_index(drop=True)
MLE_final['stack'].unique()

array(['Python', 'AWS', 'Pytorch', 'Git', 'Tensorflow', 'React', 'C/C++',
       'JavaScript', 'Docker', 'Java', 'Github', 'TypeScript', 'Linux',
       'MySQL', 'SQL', 'PostgreSQL', 'Node.js', 'Spring Framework',
       'HTML', 'Kotlin', 'Android', 'Kubernetes', 'JIRA', 'Slack',
       'OpenCV', 'iOS', 'CSS', 'MongoDB', 'Google Cloud Platform', 'CUDA',
       'Notion', 'React.js', 'NumPy', 'Swift', 'Django', 'Next.js', 'C#',
       'Scikit-Learn', 'Spring Boot', 'Redux', 'React Native',
       'Confluence', 'Go', 'NLP', 'ML/DL', 'Ubuntu', 'ElasticSearch',
       'SoC', 'Perl', 'Azure', 'JPA', 'AI', 'Verilog', 'Flask', 'PHP',
       'Vue.JS', 'Web', 'Jenkins', 'Redis', 'Spark', 'Figma',
       'Google Analytics', 'ORM', 'Apache', 'Hadoop', 'R', 'NodeJS',
       'ROS', 'DirectX', 'GitLab', 'Nest.js', 'Kafka', 'RedHat', 'OpenGL',
       'Oracle', 'Scala', 'Shell', 'Framer', 'Flutter', 'RabbitMQ',
       'Xilinx', 'MFC', 'STP', 'TCL', 'NoSQL', 'WebGL', 'Qt', 'Shader',
       'Unity3D', 'Embedded C', 'CAM', 'RDBMS', 'ExpressJS', 'BitBucket',
       'GLSL', 'GraphQL', 'Firebase', 'Kubeflow', 'MSSQL', 'WPF', 'Nginx',
       'Tableau', 'ES6', 'AJAX', 'Redmine', 'DICOM', '내시경', 'Laravel',
       'HTTP', 'jQuery', 'MS Office', 'CAD', 'ASP .NET', '.NET',
       'Angular', 'HP', 'Web Socket', 'Delphi', 'WinForm', 'Rust', 'Bash',
       'JUnit', 'ASIC', 'Cloud', 'RTOS', 'MXNET', 'CodeIgniter', '페르소나',
       'VHDL', 'GPU', 'UX/UI', 'Spa', 'GIS', 'VueJS', '3D',
       'IntelliJ IDEA', 'OS', 'DB', 'AngularJS', 'SPICE', 'OOP',
       'Shell Scripting', 'ETL', 'EMR', 'Unreal Engine', 'ITIL',
       'Atlassian JIRA', 'ORCAD', 'Power BI', 'SASS', 'iBatis', 'UNIX',
       'DLP', 'BI', 'GUI', 'Ethereum', 'Amplitude', 'Svelte', 'Simulink'],
      dtype=object)

In [287]:
MLE_final.loc[len(MLE_final)] = ['Airflow', 0]
MLE_final

          stack  count
0        Python    178
1           AWS     93
2       Pytorch     80
3           Git     75
4    Tensorflow     58
..          ...    ...
155    Ethereum      1
156   Amplitude      1
157      Svelte      1
158    Simulink      1
159     Airflow      0

[160 rows x 2 columns]

In [288]:
stacks_list = MLE_final['stack'].to_list()

In [289]:
no_stack_MLE = wanted_MLE.loc[wanted_MLE['stack'].isnull()]
no_stack_MLE = no_stack_MLE[['preference']].reset_index(drop=True)
no_stack_MLE.dropna(axis=0, how='all', inplace=True)
no_stack_MLE = no_stack_MLE[['preference']].reset_index(drop=True)
no_stack_MLE

                                            preference
0    1) 영상 등 다양한 데이터를 많이 다뤄 보신 분\n2) Mobile/Embedde...
1    • 반응형 디자인, 웹 접근성, 웹 표준을 고려한 UI 개발 경험이 있으신 분\n•...
2    • 기계학습 관련 탑티어 학회 및 저널(NeurIPS, ICLR, ICML, CVP...
3    - 데이터 처리의 필요성 및 중요성에 대해 공감하시는 분\n- 문제 해결 능력이 뛰...
4    • 추천 엔진 개발 유경험자\n• Transformer 기반 딥러닝 개발 유경험자\...
..                                                 ...
96   • 수학, 통계, 엔지니어링 전공 MS or PH.D\n• 머신러닝을 인공지능, 데...
97   • 오픈소스 활동 경험자\n• 관련 분야 논문 게재 이력\n• 새로운 알고리즘을 상...
98   • 원활한 의사소통 능력\n• 적극적으로 서비스 개선에 필요한 업무를 찾고 개선할 ...
99   - 데이터 사이언스 관련 전공자\n- 퍼블릭 클라우드 환경 (GCP, AWS, Az...
100  • 관련 딥러닝 모델 연구/개발자 우대(Tensor Flow, PyTouch)\n•...

[101 rows x 1 columns]

In [290]:
for i in stacks_list:
    i_count = no_stack_MLE['preference'].str.contains(i).sum()
    MLE_final.loc[MLE_final['stack'] == i, 'count'] += 1

MLE_final.head(10)

        stack  count
0      Python    179
1         AWS     94
2     Pytorch     81
3         Git     76
4  Tensorflow     59
5       React     57
6       C/C++    113
7  JavaScript     55
8      Docker     49
9        Java     49

In [291]:
MLE_final.sort_values('count', ascending=False, ignore_index=True, inplace=True)
MLE_final.head(10)

        stack  count
0      Python    179
1       C/C++    113
2         AWS     94
3     Pytorch     81
4         Git     76
5  Tensorflow     59
6       React     57
7  JavaScript     55
8      Docker     49
9        Java     49