In [1]:
import pandas as pd
import numpy as np
import openpyxl

data = pd.read_excel('data/분석데이터.xlsx', engine='openpyxl')
data.head()

,년/월,시도,산업_대분류,구인인원,구직건수,취업건수,사업체 수,실업급여 수급자 수,각 지역별 인구,GDP(실질),금리,CLI 지수,소비자 심리지수
0,201801,서울,"농업, 임업 및 어업",0,0,0,254,0,9851767,1812.0,1.5,100.373,110.7
1,201801,서울,광업,0,0,0,25,0,9851767,1812.0,1.5,100.373,110.7
2,201801,서울,제조업,33,0,1,32866,0,9851767,1812.0,1.5,100.373,110.7
3,201801,서울,"전기, 가스, 증기 및 공기조절 공급업",1,0,0,96,0,9851767,1812.0,1.5,100.373,110.7
4,201801,서울,"수도, 하수 및 폐기물 처리, 원료 재생업",0,0,0,396,0,9851767,1812.0,1.5,100.373,110.7

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23460 entries, 0 to 23459
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년/월         23460 non-null  int64
 1   시도          23460 non-null  object
 2   산업_대분류      23460 non-null  object
 3   구인인원        23460 non-null  int64
 4   구직건수        23460 non-null  int64
 5   취업건수        23460 non-null  int64
 6   사업체 수       23460 non-null  int64
 7   실업급여 수급자 수  23460 non-null  int64
 8   각 지역별 인구    23460 non-null  int64
 9   GDP(실질)     23460 non-null  float64
 10  금리          23460 non-null  float64
 11  CLI 지수      23460 non-null  float64
 12  소비자 심리지수    23460 non-null  float64
dtypes: float64(4), int64(7), object(2)
memory usage: 2.3+ MB

In [3]:
data.columns=['date', 'city', 'industry', 'job_offer', 'job_search', 'employment',
              'no_company', 'unemployment', 'population', 'GDP', 'i_rate', 'CLI', 'CFI']

In [4]:
data['year'] = data['date'].astype('str').str[:4].astype('int')
data['month'] = data['date'].astype('str').str[4:].astype('int')
data.drop('date', axis=1, inplace=True)

In [5]:
print(len(data) * 0.8)

18768.0

In [6]:
train_data = data.iloc[:18768, :] # 2018 ~ 2021년 데이터
test_data = data.iloc[18768:, :] # 2022년 데이터
print(len(train_data), len(test_data))

18768 4692

In [7]:
# 독립변수 / 종속변수 분리
train_x = train_data.drop(['job_offer'], axis=1)
train_y = train_data['job_offer']

test_x = test_data.drop(['job_offer'], axis=1)
test_y = test_data['job_offer']

In [8]:
# 데이터 전처리
from sklearn.preprocessing import LabelEncoder

object_features = ['city', 'industry']

for feature in object_features:
    le = LabelEncoder()
    le = le.fit(train_x[feature])
    train_x[feature] = le.transform(train_x[feature])
    
    for label in np.unique(test_x[feature]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    test_x[feature]= le.transform(test_x[feature])

In [9]:
train_x.head()

,city,industry,job_search,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,8,7,0,0,254,0,9851767,1812.0,1.5,100.373,110.7,2018,1
1,8,3,0,0,25,0,9851767,1812.0,1.5,100.373,110.7,2018,1
2,8,20,0,1,32866,0,9851767,1812.0,1.5,100.373,110.7,2018,1
3,8,17,0,0,96,0,9851767,1812.0,1.5,100.373,110.7,2018,1
4,8,13,0,0,396,0,9851767,1812.0,1.5,100.373,110.7,2018,1

In [10]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

# MinMaxScaler를 이용한 수치 데이터 스케일링
scale_columns = ['job_search', 'employment', 'no_company', 'unemployment', 'population', 'GDP', 'i_rate', 'CLI', 'CFI']
scaler = MinMaxScaler()
scaler.fit(train_x[scale_columns])
train_x[scale_columns] = scaler.transform(train_x[scale_columns])
test_x[scale_columns] = scaler.transform(test_x[scale_columns])

train_x.head()

,city,industry,job_search,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,8,7,0.0,0.000000,0.001845,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
1,8,3,0.0,0.000000,0.000182,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
2,8,20,0.0,0.001037,0.238704,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
3,8,17,0.0,0.000000,0.000697,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
4,8,13,0.0,0.000000,0.002876,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1

하이퍼파라미터 조절하지 않은 기본 모델들로 학습

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model_rf = RandomForestRegressor(random_state=42)
model_rf.fit(train_x, train_y)
pred = model_rf.predict(test_x)

score = mean_squared_error(test_y, pred)
print(score)

470.4975163469736

In [13]:
from sklearn.ensemble import ExtraTreesRegressor

model_et = ExtraTreesRegressor(random_state=42)
model_et.fit(train_x, train_y)
pred = model_et.predict(test_x)

score = mean_squared_error(test_y, pred)
print(score)

204.18973418584824

In [14]:
from lightgbm import LGBMRegressor

model_lgb = LGBMRegressor(random_state=42, force_col_wise=True)
model_lgb.fit(train_x, train_y)
pred = model_lgb.predict(test_x)

score = mean_squared_error(test_y, pred)
print(score)

[LightGBM] [Info] Total Bins 1193
[LightGBM] [Info] Number of data points in the train set: 18768, number of used features: 13
[LightGBM] [Info] Start training from score 3.869512
197.1161967119241

In [15]:
from xgboost import XGBRegressor

model_xgb = XGBRegressor(random_state=42)
model_xgb.fit(train_x, train_y)
pred = model_xgb.predict(test_x)

score = mean_squared_error(test_y, pred)
print(score)

760.2326610347827

In [16]:
from catboost import CatBoostRegressor

model_cat = CatBoostRegressor(random_seed=42)
model_cat.fit(train_x, train_y)
pred = model_cat.predict(test_x)

score = mean_squared_error(test_y, pred)
print(score)

Learning rate set to 0.06507
0:	learn: 26.4526326	total: 49.6ms	remaining: 49.5s
1:	learn: 25.2941883	total: 52.3ms	remaining: 26.1s
2:	learn: 24.2379175	total: 54.8ms	remaining: 18.2s
3:	learn: 23.2150875	total: 57.4ms	remaining: 14.3s
4:	learn: 22.2965561	total: 59.9ms	remaining: 11.9s
5:	learn: 21.4517840	total: 62.4ms	remaining: 10.3s
6:	learn: 20.6867138	total: 64.9ms	remaining: 9.21s
7:	learn: 19.8753022	total: 67.5ms	remaining: 8.37s
8:	learn: 19.0731312	total: 70.2ms	remaining: 7.73s
9:	learn: 18.3635850	total: 72.7ms	remaining: 7.2s
10:	learn: 17.6651900	total: 75.1ms	remaining: 6.75s
11:	learn: 17.0807305	total: 77.6ms	remaining: 6.39s
12:	learn: 16.4875027	total: 80ms	remaining: 6.07s
13:	learn: 15.9082843	total: 82.6ms	remaining: 5.82s
14:	learn: 15.3333313	total: 85.1ms	remaining: 5.59s
15:	learn: 14.8942913	total: 87.5ms	remaining: 5.38s
16:	learn: 14.3840496	total: 89.9ms	remaining: 5.2s
17:	learn: 13.9849827	total: 92.4ms	remaining: 5.04s
18:	learn: 13.4716638	total: 94.9ms	remaining: 4.9s
19:	learn: 13.0402824	total: 97.7ms	remaining: 4.79s
20:	learn: 12.6755188	total: 100ms	remaining: 4.67s
21:	learn: 12.2939970	total: 103ms	remaining: 4.56s
22:	learn: 11.9386544	total: 105ms	remaining: 4.47s
23:	learn: 11.6504778	total: 108ms	remaining: 4.39s
24:	learn: 11.3289279	total: 110ms	remaining: 4.31s
25:	learn: 11.0467290	total: 113ms	remaining: 4.23s
26:	learn: 10.7291987	total: 116ms	remaining: 4.17s
27:	learn: 10.4379742	total: 118ms	remaining: 4.1s
28:	learn: 10.2178046	total: 121ms	remaining: 4.04s
29:	learn: 10.0541793	total: 123ms	remaining: 3.99s
30:	learn: 9.8135271	total: 126ms	remaining: 3.95s
31:	learn: 9.6153984	total: 129ms	remaining: 3.9s
32:	learn: 9.4417631	total: 131ms	remaining: 3.85s
33:	learn: 9.3196288	total: 134ms	remaining: 3.81s
34:	learn: 9.1706115	total: 136ms	remaining: 3.76s
35:	learn: 8.9743156	total: 139ms	remaining: 3.72s
36:	learn: 8.8731022	total: 141ms	remaining: 3.68s
37:	learn: 8.7217941	total: 144ms	remaining: 3.64s
38:	learn: 8.6290698	total: 147ms	remaining: 3.61s
39:	learn: 8.5100781	total: 149ms	remaining: 3.58s
40:	learn: 8.4505964	total: 151ms	remaining: 3.54s
41:	learn: 8.3342136	total: 154ms	remaining: 3.51s
42:	learn: 8.2662942	total: 156ms	remaining: 3.48s
43:	learn: 8.1434965	total: 160ms	remaining: 3.47s
44:	learn: 8.0131514	total: 162ms	remaining: 3.44s
45:	learn: 7.9543610	total: 166ms	remaining: 3.44s
46:	learn: 7.8695921	total: 169ms	remaining: 3.42s
47:	learn: 7.7904407	total: 172ms	remaining: 3.4s
48:	learn: 7.7347254	total: 174ms	remaining: 3.38s
49:	learn: 7.6889469	total: 177ms	remaining: 3.36s
50:	learn: 7.6450044	total: 179ms	remaining: 3.34s
51:	learn: 7.5937286	total: 182ms	remaining: 3.31s
52:	learn: 7.5484744	total: 185ms	remaining: 3.3s
53:	learn: 7.5082566	total: 187ms	remaining: 3.28s
54:	learn: 7.4769395	total: 190ms	remaining: 3.26s
55:	learn: 7.4113819	total: 192ms	remaining: 3.24s
56:	learn: 7.3772328	total: 195ms	remaining: 3.23s
57:	learn: 7.3017772	total: 199ms	remaining: 3.22s
58:	learn: 7.2184639	total: 201ms	remaining: 3.21s
59:	learn: 7.1644340	total: 204ms	remaining: 3.19s
60:	learn: 7.0982708	total: 207ms	remaining: 3.18s
61:	learn: 7.0791760	total: 209ms	remaining: 3.16s
62:	learn: 7.0468727	total: 211ms	remaining: 3.14s
63:	learn: 7.0308293	total: 214ms	remaining: 3.13s
64:	learn: 7.0102038	total: 216ms	remaining: 3.11s
65:	learn: 6.9906203	total: 219ms	remaining: 3.1s
66:	learn: 6.9684018	total: 221ms	remaining: 3.08s
67:	learn: 6.9432920	total: 224ms	remaining: 3.07s
68:	learn: 6.9216901	total: 226ms	remaining: 3.05s
69:	learn: 6.9052728	total: 229ms	remaining: 3.04s
70:	learn: 6.8657817	total: 231ms	remaining: 3.03s
71:	learn: 6.8240835	total: 234ms	remaining: 3.02s
72:	learn: 6.8044650	total: 236ms	remaining: 3s
73:	learn: 6.7783601	total: 239ms	remaining: 3s
74:	learn: 6.7227688	total: 242ms	remaining: 2.98s
75:	learn: 6.7159301	total: 244ms	remaining: 2.97s
76:	learn: 6.6826666	total: 247ms	remaining: 2.96s
77:	learn: 6.6418245	total: 250ms	remaining: 2.95s
78:	learn: 6.6179153	total: 252ms	remaining: 2.94s
79:	learn: 6.6066228	total: 255ms	remaining: 2.93s
80:	learn: 6.5486450	total: 258ms	remaining: 2.92s
81:	learn: 6.4963826	total: 261ms	remaining: 2.92s
82:	learn: 6.4629228	total: 264ms	remaining: 2.91s
83:	learn: 6.4212714	total: 267ms	remaining: 2.91s
84:	learn: 6.4084440	total: 272ms	remaining: 2.93s
85:	learn: 6.3709742	total: 275ms	remaining: 2.92s
86:	learn: 6.3451100	total: 278ms	remaining: 2.92s
87:	learn: 6.2927207	total: 281ms	remaining: 2.91s
88:	learn: 6.2633014	total: 284ms	remaining: 2.9s
89:	learn: 6.2504195	total: 287ms	remaining: 2.9s
90:	learn: 6.2367210	total: 290ms	remaining: 2.89s
91:	learn: 6.2074560	total: 293ms	remaining: 2.89s
92:	learn: 6.1958095	total: 295ms	remaining: 2.88s
93:	learn: 6.1793486	total: 298ms	remaining: 2.88s
94:	learn: 6.1667422	total: 301ms	remaining: 2.87s
95:	learn: 6.1528683	total: 304ms	remaining: 2.86s
96:	learn: 6.1479618	total: 307ms	remaining: 2.85s
97:	learn: 6.1356650	total: 310ms	remaining: 2.85s
98:	learn: 6.1110491	total: 313ms	remaining: 2.85s
99:	learn: 6.0990061	total: 315ms	remaining: 2.84s
100:	learn: 6.0580174	total: 318ms	remaining: 2.83s
101:	learn: 6.0292149	total: 321ms	remaining: 2.83s
102:	learn: 6.0032050	total: 324ms	remaining: 2.83s
103:	learn: 5.9818233	total: 327ms	remaining: 2.82s
104:	learn: 5.9706630	total: 330ms	remaining: 2.81s
105:	learn: 5.9523619	total: 333ms	remaining: 2.81s
106:	learn: 5.9306210	total: 338ms	remaining: 2.82s
107:	learn: 5.8996010	total: 341ms	remaining: 2.82s
108:	learn: 5.8796729	total: 344ms	remaining: 2.81s
109:	learn: 5.8674566	total: 347ms	remaining: 2.81s
110:	learn: 5.8550178	total: 350ms	remaining: 2.8s
111:	learn: 5.8507868	total: 352ms	remaining: 2.79s
112:	learn: 5.8469636	total: 355ms	remaining: 2.78s
113:	learn: 5.8323823	total: 359ms	remaining: 2.79s
114:	learn: 5.8287085	total: 363ms	remaining: 2.79s
115:	learn: 5.8146094	total: 366ms	remaining: 2.79s
116:	learn: 5.7878279	total: 371ms	remaining: 2.8s
117:	learn: 5.7688256	total: 374ms	remaining: 2.8s
118:	learn: 5.7631121	total: 378ms	remaining: 2.79s
119:	learn: 5.7564145	total: 381ms	remaining: 2.79s
120:	learn: 5.7449459	total: 384ms	remaining: 2.79s
121:	learn: 5.7092110	total: 387ms	remaining: 2.79s
122:	learn: 5.7007424	total: 390ms	remaining: 2.78s
123:	learn: 5.6942673	total: 393ms	remaining: 2.78s
124:	learn: 5.6848216	total: 396ms	remaining: 2.77s
125:	learn: 5.6721368	total: 399ms	remaining: 2.77s
126:	learn: 5.6689052	total: 403ms	remaining: 2.77s
127:	learn: 5.6338276	total: 406ms	remaining: 2.77s
128:	learn: 5.6294446	total: 409ms	remaining: 2.76s
129:	learn: 5.6219371	total: 412ms	remaining: 2.76s
130:	learn: 5.6171729	total: 415ms	remaining: 2.75s
131:	learn: 5.6104658	total: 418ms	remaining: 2.75s
132:	learn: 5.6009512	total: 421ms	remaining: 2.74s
133:	learn: 5.5975747	total: 423ms	remaining: 2.73s
134:	learn: 5.5931408	total: 426ms	remaining: 2.73s
135:	learn: 5.5790216	total: 429ms	remaining: 2.73s
136:	learn: 5.5770577	total: 432ms	remaining: 2.72s
137:	learn: 5.5743679	total: 435ms	remaining: 2.72s
138:	learn: 5.5707226	total: 438ms	remaining: 2.71s
139:	learn: 5.5600897	total: 441ms	remaining: 2.71s
140:	learn: 5.5441433	total: 444ms	remaining: 2.7s
141:	learn: 5.5414977	total: 447ms	remaining: 2.7s
142:	learn: 5.5309547	total: 450ms	remaining: 2.7s
143:	learn: 5.5291689	total: 453ms	remaining: 2.69s
144:	learn: 5.5274530	total: 456ms	remaining: 2.69s
145:	learn: 5.5135566	total: 459ms	remaining: 2.69s
146:	learn: 5.5120070	total: 462ms	remaining: 2.68s
147:	learn: 5.4870710	total: 465ms	remaining: 2.68s
148:	learn: 5.4853309	total: 468ms	remaining: 2.67s
149:	learn: 5.4537540	total: 471ms	remaining: 2.67s
150:	learn: 5.4437087	total: 474ms	remaining: 2.66s
151:	learn: 5.4354870	total: 477ms	remaining: 2.66s
152:	learn: 5.4308816	total: 479ms	remaining: 2.65s
153:	learn: 5.4026499	total: 482ms	remaining: 2.65s
154:	learn: 5.3990868	total: 496ms	remaining: 2.7s
155:	learn: 5.3961388	total: 513ms	remaining: 2.77s
156:	learn: 5.3828560	total: 526ms	remaining: 2.82s
157:	learn: 5.3652891	total: 533ms	remaining: 2.84s
158:	learn: 5.3622743	total: 538ms	remaining: 2.84s
159:	learn: 5.3594143	total: 546ms	remaining: 2.86s
160:	learn: 5.3577925	total: 557ms	remaining: 2.9s
161:	learn: 5.3466241	total: 560ms	remaining: 2.9s
162:	learn: 5.3449696	total: 577ms	remaining: 2.96s
163:	learn: 5.3243817	total: 581ms	remaining: 2.96s
164:	learn: 5.3135429	total: 585ms	remaining: 2.96s
165:	learn: 5.2962234	total: 589ms	remaining: 2.96s
166:	learn: 5.2947165	total: 593ms	remaining: 2.96s
167:	learn: 5.2932999	total: 598ms	remaining: 2.96s
168:	learn: 5.2918459	total: 603ms	remaining: 2.96s
169:	learn: 5.2904611	total: 606ms	remaining: 2.96s
170:	learn: 5.2893410	total: 609ms	remaining: 2.95s
171:	learn: 5.2832131	total: 612ms	remaining: 2.95s
172:	learn: 5.2704964	total: 617ms	remaining: 2.95s
173:	learn: 5.2693678	total: 620ms	remaining: 2.94s
174:	learn: 5.2364109	total: 624ms	remaining: 2.94s
175:	learn: 5.2248377	total: 627ms	remaining: 2.93s
176:	learn: 5.2151607	total: 630ms	remaining: 2.93s
177:	learn: 5.2139092	total: 633ms	remaining: 2.92s
178:	learn: 5.2117971	total: 636ms	remaining: 2.92s
179:	learn: 5.2099029	total: 639ms	remaining: 2.91s
180:	learn: 5.2087621	total: 642ms	remaining: 2.91s
181:	learn: 5.2056512	total: 645ms	remaining: 2.9s
182:	learn: 5.2046061	total: 648ms	remaining: 2.89s
183:	learn: 5.2006265	total: 651ms	remaining: 2.89s
184:	learn: 5.1893439	total: 654ms	remaining: 2.88s
185:	learn: 5.1868508	total: 656ms	remaining: 2.87s
186:	learn: 5.1747773	total: 660ms	remaining: 2.87s
187:	learn: 5.1630859	total: 663ms	remaining: 2.86s
188:	learn: 5.1621717	total: 666ms	remaining: 2.86s
189:	learn: 5.1562109	total: 669ms	remaining: 2.85s
190:	learn: 5.1534938	total: 671ms	remaining: 2.84s
191:	learn: 5.1374327	total: 674ms	remaining: 2.84s
192:	learn: 5.1341379	total: 677ms	remaining: 2.83s
193:	learn: 5.1320884	total: 680ms	remaining: 2.83s
194:	learn: 5.1256336	total: 683ms	remaining: 2.82s
195:	learn: 5.1160318	total: 686ms	remaining: 2.81s
196:	learn: 5.1132604	total: 688ms	remaining: 2.81s
197:	learn: 5.1037616	total: 691ms	remaining: 2.8s
198:	learn: 5.0918828	total: 694ms	remaining: 2.79s
199:	learn: 5.0746063	total: 697ms	remaining: 2.79s
200:	learn: 5.0688710	total: 700ms	remaining: 2.78s
201:	learn: 5.0455725	total: 705ms	remaining: 2.78s
202:	learn: 5.0383455	total: 708ms	remaining: 2.78s
203:	learn: 5.0294883	total: 712ms	remaining: 2.78s
204:	learn: 5.0057181	total: 714ms	remaining: 2.77s
205:	learn: 4.9964784	total: 717ms	remaining: 2.77s
206:	learn: 4.9918586	total: 720ms	remaining: 2.76s
207:	learn: 4.9872991	total: 723ms	remaining: 2.75s
208:	learn: 4.9789515	total: 726ms	remaining: 2.75s
209:	learn: 4.9708012	total: 732ms	remaining: 2.75s
210:	learn: 4.9666584	total: 737ms	remaining: 2.75s
211:	learn: 4.9571178	total: 740ms	remaining: 2.75s
212:	learn: 4.9495360	total: 743ms	remaining: 2.74s
213:	learn: 4.9423117	total: 746ms	remaining: 2.74s
214:	learn: 4.9383024	total: 749ms	remaining: 2.73s
215:	learn: 4.9343612	total: 761ms	remaining: 2.76s
216:	learn: 4.9305808	total: 765ms	remaining: 2.76s
217:	learn: 4.9205389	total: 784ms	remaining: 2.81s
218:	learn: 4.9155050	total: 808ms	remaining: 2.88s
219:	learn: 4.8983248	total: 812ms	remaining: 2.88s
220:	learn: 4.8946886	total: 815ms	remaining: 2.87s
221:	learn: 4.8871276	total: 822ms	remaining: 2.88s
222:	learn: 4.8835787	total: 826ms	remaining: 2.88s
223:	learn: 4.8805884	total: 834ms	remaining: 2.89s
224:	learn: 4.8653140	total: 841ms	remaining: 2.9s
225:	learn: 4.8548664	total: 845ms	remaining: 2.89s
226:	learn: 4.8515108	total: 848ms	remaining: 2.89s
227:	learn: 4.8358674	total: 851ms	remaining: 2.88s
228:	learn: 4.8331122	total: 853ms	remaining: 2.87s
229:	learn: 4.8299457	total: 856ms	remaining: 2.87s
230:	learn: 4.8211304	total: 859ms	remaining: 2.86s
231:	learn: 4.8155036	total: 862ms	remaining: 2.85s
232:	learn: 4.8075496	total: 865ms	remaining: 2.85s
233:	learn: 4.8008826	total: 870ms	remaining: 2.85s
234:	learn: 4.7955825	total: 873ms	remaining: 2.84s
235:	learn: 4.7877149	total: 876ms	remaining: 2.84s
236:	learn: 4.7814436	total: 880ms	remaining: 2.83s
237:	learn: 4.7783502	total: 883ms	remaining: 2.83s
238:	learn: 4.7747370	total: 886ms	remaining: 2.82s
239:	learn: 4.7676071	total: 890ms	remaining: 2.82s
240:	learn: 4.7602885	total: 893ms	remaining: 2.81s
241:	learn: 4.7533137	total: 904ms	remaining: 2.83s
242:	learn: 4.7456300	total: 911ms	remaining: 2.84s
243:	learn: 4.7301379	total: 914ms	remaining: 2.83s
244:	learn: 4.7247285	total: 918ms	remaining: 2.83s
245:	learn: 4.7187936	total: 921ms	remaining: 2.82s
246:	learn: 4.7066882	total: 925ms	remaining: 2.82s
247:	learn: 4.6972118	total: 928ms	remaining: 2.81s
248:	learn: 4.6954273	total: 931ms	remaining: 2.81s
249:	learn: 4.6816550	total: 935ms	remaining: 2.8s
250:	learn: 4.6778436	total: 938ms	remaining: 2.8s
251:	learn: 4.6767288	total: 940ms	remaining: 2.79s
252:	learn: 4.6731745	total: 943ms	remaining: 2.78s
253:	learn: 4.6721004	total: 946ms	remaining: 2.78s
254:	learn: 4.6640428	total: 949ms	remaining: 2.77s
255:	learn: 4.6526064	total: 952ms	remaining: 2.77s
256:	learn: 4.6500313	total: 956ms	remaining: 2.76s
257:	learn: 4.6359636	total: 959ms	remaining: 2.76s
258:	learn: 4.6343569	total: 963ms	remaining: 2.75s
259:	learn: 4.6155989	total: 968ms	remaining: 2.76s
260:	learn: 4.6143600	total: 972ms	remaining: 2.75s
261:	learn: 4.6129544	total: 975ms	remaining: 2.75s
262:	learn: 4.6061281	total: 978ms	remaining: 2.74s
263:	learn: 4.6028636	total: 982ms	remaining: 2.74s
264:	learn: 4.5904982	total: 985ms	remaining: 2.73s
265:	learn: 4.5874059	total: 991ms	remaining: 2.73s
266:	learn: 4.5860753	total: 994ms	remaining: 2.73s
267:	learn: 4.5848125	total: 996ms	remaining: 2.72s
268:	learn: 4.5788651	total: 999ms	remaining: 2.71s
269:	learn: 4.5741201	total: 1s	remaining: 2.71s
270:	learn: 4.5526649	total: 1.01s	remaining: 2.71s
271:	learn: 4.5514248	total: 1.01s	remaining: 2.7s
272:	learn: 4.5348653	total: 1.01s	remaining: 2.7s
273:	learn: 4.5207082	total: 1.01s	remaining: 2.69s
274:	learn: 4.5202734	total: 1.02s	remaining: 2.69s
275:	learn: 4.5139907	total: 1.02s	remaining: 2.68s
276:	learn: 4.5090126	total: 1.02s	remaining: 2.67s
277:	learn: 4.4981610	total: 1.03s	remaining: 2.67s
278:	learn: 4.4916086	total: 1.03s	remaining: 2.67s
279:	learn: 4.4861580	total: 1.04s	remaining: 2.67s
280:	learn: 4.4743504	total: 1.04s	remaining: 2.66s
281:	learn: 4.4701266	total: 1.04s	remaining: 2.65s
282:	learn: 4.4682127	total: 1.04s	remaining: 2.65s
283:	learn: 4.4663826	total: 1.05s	remaining: 2.64s
284:	learn: 4.4646320	total: 1.05s	remaining: 2.63s
285:	learn: 4.4631726	total: 1.05s	remaining: 2.63s
286:	learn: 4.4617323	total: 1.06s	remaining: 2.63s
287:	learn: 4.4613190	total: 1.06s	remaining: 2.62s
288:	learn: 4.4562279	total: 1.06s	remaining: 2.62s
289:	learn: 4.4461733	total: 1.07s	remaining: 2.61s
290:	learn: 4.4380010	total: 1.07s	remaining: 2.6s
291:	learn: 4.4332239	total: 1.07s	remaining: 2.6s
292:	learn: 4.4275011	total: 1.07s	remaining: 2.59s
293:	learn: 4.4198056	total: 1.08s	remaining: 2.59s
294:	learn: 4.4184139	total: 1.08s	remaining: 2.58s
295:	learn: 4.4170740	total: 1.08s	remaining: 2.58s
296:	learn: 4.4157839	total: 1.09s	remaining: 2.57s
297:	learn: 4.4140099	total: 1.09s	remaining: 2.57s
298:	learn: 4.4127698	total: 1.09s	remaining: 2.56s
299:	learn: 4.4115439	total: 1.09s	remaining: 2.56s
300:	learn: 4.4075716	total: 1.1s	remaining: 2.55s
301:	learn: 4.3926575	total: 1.1s	remaining: 2.54s
302:	learn: 4.3883866	total: 1.1s	remaining: 2.54s
303:	learn: 4.3795993	total: 1.11s	remaining: 2.54s
304:	learn: 4.3727774	total: 1.11s	remaining: 2.53s
305:	learn: 4.3662419	total: 1.11s	remaining: 2.52s
306:	learn: 4.3646642	total: 1.11s	remaining: 2.52s
307:	learn: 4.3632200	total: 1.12s	remaining: 2.51s
308:	learn: 4.3542909	total: 1.12s	remaining: 2.51s
309:	learn: 4.3472768	total: 1.12s	remaining: 2.5s
310:	learn: 4.3419957	total: 1.13s	remaining: 2.5s
311:	learn: 4.3409924	total: 1.13s	remaining: 2.49s
312:	learn: 4.3401386	total: 1.13s	remaining: 2.49s
313:	learn: 4.3379229	total: 1.14s	remaining: 2.48s
314:	learn: 4.3369537	total: 1.14s	remaining: 2.48s
315:	learn: 4.3361534	total: 1.14s	remaining: 2.47s
316:	learn: 4.3354058	total: 1.14s	remaining: 2.46s
317:	learn: 4.3291567	total: 1.15s	remaining: 2.46s
318:	learn: 4.3257206	total: 1.15s	remaining: 2.45s
319:	learn: 4.3246120	total: 1.15s	remaining: 2.45s
320:	learn: 4.3235462	total: 1.16s	remaining: 2.44s
321:	learn: 4.3190460	total: 1.16s	remaining: 2.44s
322:	learn: 4.3071584	total: 1.16s	remaining: 2.44s
323:	learn: 4.3038632	total: 1.16s	remaining: 2.43s
324:	learn: 4.3015182	total: 1.17s	remaining: 2.43s
325:	learn: 4.2993279	total: 1.17s	remaining: 2.42s
326:	learn: 4.2931879	total: 1.17s	remaining: 2.42s
327:	learn: 4.2891363	total: 1.18s	remaining: 2.41s
328:	learn: 4.2841512	total: 1.18s	remaining: 2.41s
329:	learn: 4.2838306	total: 1.18s	remaining: 2.4s
330:	learn: 4.2835218	total: 1.19s	remaining: 2.4s
331:	learn: 4.2769688	total: 1.19s	remaining: 2.39s
332:	learn: 4.2761338	total: 1.19s	remaining: 2.38s
333:	learn: 4.2753266	total: 1.19s	remaining: 2.38s
334:	learn: 4.2745462	total: 1.2s	remaining: 2.38s
335:	learn: 4.2742446	total: 1.2s	remaining: 2.37s
336:	learn: 4.2739543	total: 1.2s	remaining: 2.37s
337:	learn: 4.2732008	total: 1.21s	remaining: 2.36s
338:	learn: 4.2729217	total: 1.21s	remaining: 2.36s
339:	learn: 4.2712133	total: 1.21s	remaining: 2.35s
340:	learn: 4.2709447	total: 1.22s	remaining: 2.35s
341:	learn: 4.2702173	total: 1.22s	remaining: 2.35s
342:	learn: 4.2699283	total: 1.22s	remaining: 2.34s
343:	learn: 4.2694412	total: 1.23s	remaining: 2.34s
344:	learn: 4.2662860	total: 1.23s	remaining: 2.33s
345:	learn: 4.2577221	total: 1.23s	remaining: 2.33s
346:	learn: 4.2539953	total: 1.24s	remaining: 2.32s
347:	learn: 4.2537516	total: 1.24s	remaining: 2.32s
348:	learn: 4.2534853	total: 1.24s	remaining: 2.31s
349:	learn: 4.2456343	total: 1.24s	remaining: 2.31s
350:	learn: 4.2451930	total: 1.25s	remaining: 2.31s
351:	learn: 4.2444585	total: 1.25s	remaining: 2.3s
352:	learn: 4.2442089	total: 1.25s	remaining: 2.3s
353:	learn: 4.2401496	total: 1.26s	remaining: 2.3s
354:	learn: 4.2394385	total: 1.26s	remaining: 2.29s
355:	learn: 4.2388079	total: 1.28s	remaining: 2.31s
356:	learn: 4.2330107	total: 1.28s	remaining: 2.31s
357:	learn: 4.2277917	total: 1.29s	remaining: 2.31s
358:	learn: 4.2274375	total: 1.29s	remaining: 2.3s
359:	learn: 4.2175035	total: 1.29s	remaining: 2.3s
360:	learn: 4.2086074	total: 1.3s	remaining: 2.3s
361:	learn: 4.2006119	total: 1.3s	remaining: 2.29s
362:	learn: 4.1999168	total: 1.3s	remaining: 2.29s
363:	learn: 4.1992450	total: 1.31s	remaining: 2.28s
364:	learn: 4.1985957	total: 1.31s	remaining: 2.28s
365:	learn: 4.1947942	total: 1.31s	remaining: 2.27s
366:	learn: 4.1910400	total: 1.31s	remaining: 2.27s
367:	learn: 4.1806245	total: 1.32s	remaining: 2.27s
368:	learn: 4.1799953	total: 1.33s	remaining: 2.27s
369:	learn: 4.1791181	total: 1.33s	remaining: 2.26s
370:	learn: 4.1748418	total: 1.33s	remaining: 2.26s
371:	learn: 4.1721404	total: 1.34s	remaining: 2.25s
372:	learn: 4.1615053	total: 1.34s	remaining: 2.25s
373:	learn: 4.1506509	total: 1.34s	remaining: 2.25s
374:	learn: 4.1462163	total: 1.34s	remaining: 2.24s
375:	learn: 4.1414453	total: 1.35s	remaining: 2.24s
376:	learn: 4.1406128	total: 1.35s	remaining: 2.23s
377:	learn: 4.1402875	total: 1.35s	remaining: 2.23s
378:	learn: 4.1349278	total: 1.36s	remaining: 2.23s
379:	learn: 4.1319040	total: 1.36s	remaining: 2.22s
380:	learn: 4.1255197	total: 1.37s	remaining: 2.22s
381:	learn: 4.1247236	total: 1.37s	remaining: 2.21s
382:	learn: 4.1239542	total: 1.37s	remaining: 2.21s
383:	learn: 4.1209229	total: 1.38s	remaining: 2.21s
384:	learn: 4.1103396	total: 1.38s	remaining: 2.2s
385:	learn: 4.1048215	total: 1.38s	remaining: 2.2s

In [18]:
from pycaret.regression import *
setup_rgs = setup(data=train_data, target='job_offer', test_data=test_data, session_id=42)

In [ ]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
xgboost,Extreme Gradient Boosting,xgboost.sklearn.XGBRegressor,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
catboost,CatBoost Regressor,catboost.core.CatBoostRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [ ]:
top5 = compare_models(n_select=5, sort='MSE')

In [ ]:
top5

[<catboost.core.CatBoostRegressor at 0x1702f9460b0>,
 ExtraTreesRegressor(n_jobs=-1, random_state=42),
 XGBRegressor(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=-1, num_parallel_tree=None,
              predictor=None, random_state=42, ...),
 RandomForestRegressor(n_jobs=-1, random_state=42),
 GradientBoostingRegressor(random_state=42)]

In [ ]:
tuned_top5 = [tune_model(i) for i in top5]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [ ]:
tuned_top5

[<catboost.core.CatBoostRegressor at 0x1702f8895d0>,
 ExtraTreesRegressor(n_jobs=-1, random_state=42),
 XGBRegressor(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.5, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.05, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=8, max_leaves=None,
              min_child_weight=4, missing=nan, monotone_constraints=None,
              n_estimators=130, n_jobs=-1, num_parallel_tree=None,
              predictor=None, random_state=42, ...),
 RandomForestRegressor(n_jobs=-1, random_state=42),
 GradientBoostingRegressor(learning_rate=0.05, max_depth=6, max_features='sqrt',
                           min_impurity_decrease=0.3, min_samples_leaf=4,
                           min_samples_split=10, n_estimators=270,
                           random_state=42, subsample=0.7)]

In [22]:
# 혼합 모델 생성
blender_5 = blend_models(tuned_top5)

In [23]:
final_model = finalize_model(blender_5)
prediction = predict_model(final_model, data=test_x)

In [24]:
prediction

,city,industry,job_search,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month,prediction_label
18768,8,7,0.000000,0.000000,0.001692,0.000000,0.694365,1.469541,0.4,0.517779,0.839572,2022,1,-0.164270
18769,8,3,0.000000,0.000000,0.000167,0.000000,0.694365,1.469541,0.4,0.517779,0.839572,2022,1,-0.164270
18770,8,20,0.000000,0.000000,0.229633,0.034174,0.694365,1.469541,0.4,0.517779,0.839572,2022,1,-0.164270
18771,8,17,0.000000,0.000000,0.000835,0.000000,0.694365,1.469541,0.4,0.517779,0.839572,2022,1,-0.164270
18772,8,13,0.000000,0.000000,0.003472,0.000000,0.694365,1.469541,0.4,0.517779,0.839572,2022,1,-0.164270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23455,14,22,0.000000,0.000000,0.010466,0.000000,0.029736,1.469541,2.2,0.040242,0.451872,2022,12,-0.114073
23456,14,0,0.000000,0.000000,0.000000,0.000000,0.029736,1.469541,2.2,0.040242,0.451872,2022,12,-0.114073
23457,14,5,0.000000,0.000000,0.000007,0.000000,0.029736,1.469541,2.2,0.040242,0.451872,2022,12,-0.114073
23458,14,11,0.000000,0.016598,0.000000,0.000000,0.029736,1.469541,2.2,0.040242,0.451872,2022,12,-0.114073
23459,14,21,0.017118,0.000000,0.000000,0.000000,0.029736,1.469541,2.2,0.040242,0.451872,2022,12,-0.114073

In [31]:
real_pred = pd.DataFrame({'real':test_y, 'pred':prediction['prediction_label']})
real_pred['pred'] = real_pred['pred'].astype('int')
real_pred

       real  pred
18768     0     0
18769     0     0
18770    32     0
18771     0     0
18772     0     0
...     ...   ...
23455     0     0
23456     0     0
23457     0     0
23458     0     0
23459     0     0

[4692 rows x 2 columns]

In [34]:
real_pred.loc[real_pred['real'] != real_pred['pred']]['pred'].value_counts()

0    1197
Name: pred, dtype: int64

예측을 모두 0으로 해버림

In [35]:
data.head()

,city,industry,job_offer,job_search,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,서울,"농업, 임업 및 어업",0,0,0,254,0,9851767,1812.0,1.5,100.373,110.7,2018,1
1,서울,광업,0,0,0,25,0,9851767,1812.0,1.5,100.373,110.7,2018,1
2,서울,제조업,33,0,1,32866,0,9851767,1812.0,1.5,100.373,110.7,2018,1
3,서울,"전기, 가스, 증기 및 공기조절 공급업",1,0,0,96,0,9851767,1812.0,1.5,100.373,110.7,2018,1
4,서울,"수도, 하수 및 폐기물 처리, 원료 재생업",0,0,0,396,0,9851767,1812.0,1.5,100.373,110.7,2018,1

In [26]:
data2 = data.copy()
# 구직건수 제외
data2.drop('job_search', axis=1, inplace=True)
# 산업군이 분류불능 및 해당없음 제외
data2 = data2.loc[(data2['industry'] != '분류불능') & (data2['industry'] != '해당없음')]
data2

,city,industry,job_offer,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,서울,"농업, 임업 및 어업",0,0,254,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
1,서울,광업,0,0,25,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
2,서울,제조업,33,1,32866,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
3,서울,"전기, 가스, 증기 및 공기조절 공급업",1,0,96,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
4,서울,"수도, 하수 및 폐기물 처리, 원료 재생업",0,0,396,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23453,제주,보건업 및 사회복지 서비스업,0,0,2066,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23454,제주,"예술, 스포츠 및 여가 관련 서비스업",0,0,0,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23455,제주,"협회 및 단체, 수리 및 기타 개인 서비스업",0,0,1441,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23456,제주,가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동,0,0,0,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23457,제주,국제 및 외국기관,0,0,1,0,678159,1968.8,3.25,98.75089,90.2,2022,12

In [27]:
data2.groupby('industry')[['job_offer',	'employment']].sum().sort_values('job_offer', ascending=False)

                                  job_offer  employment
industry
정보통신업                                 59161        2479
제조업                                   17192         421
도매 및 소매업                               7929         240
전문, 과학 및 기술 서비스업                       6491         218
사업시설 관리, 사업 지원 및 임대 서비스업               2249          71
건설업                                    2152          38
운수 및 창고업                                977          33
협회 및 단체, 수리 및 기타 개인 서비스업                638          30
보건업 및 사회복지 서비스업                         513          23
금융 및 보험업                                455          17
공공행정, 국방 및 사회보장 행정                      258          10
농업, 임업 및 어업                             244          13
숙박 및 음식점업                               142           9
부동산업                                    142           5
전기, 가스, 증기 및 공기조절 공급업                   123           1
수도, 하수 및 폐기물 처리, 원료 재생업                  49           2
국제 및 외국기관                                 7           0
광업                                        3           0
가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동          2           0
예술, 스포츠 및 여가 관련 서비스업                      0           0
교육서비스업                                    0           0

In [62]:
data2.groupby('industry')[['job_offer',	'employment']].mean().sort_values('job_offer', ascending=False)

                                  job_offer  employment
industry
정보통신업                             58.000980    2.430392
제조업                               16.854902    0.412745
도매 및 소매업                           7.773529    0.235294
전문, 과학 및 기술 서비스업                   6.363725    0.213725
사업시설 관리, 사업 지원 및 임대 서비스업           2.204902    0.069608
건설업                                2.109804    0.037255
운수 및 창고업                           0.957843    0.032353
협회 및 단체, 수리 및 기타 개인 서비스업           0.625490    0.029412
보건업 및 사회복지 서비스업                    0.502941    0.022549
금융 및 보험업                           0.446078    0.016667
공공행정, 국방 및 사회보장 행정                 0.252941    0.009804
농업, 임업 및 어업                        0.239216    0.012745
부동산업                               0.139216    0.004902
숙박 및 음식점업                          0.139216    0.008824
전기, 가스, 증기 및 공기조절 공급업              0.120588    0.000980
수도, 하수 및 폐기물 처리, 원료 재생업            0.048039    0.001961
국제 및 외국기관                          0.006863    0.000000
광업                                 0.002941    0.000000
가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동   0.001961    0.000000

In [28]:
# 산업군 예술, 스포츠 및 여가 관련 서비스업, 교육서비스업 제외
data2 = data2.loc[(data2['industry'] != '예술, 스포츠 및 여가 관련 서비스업') & (data2['industry'] != '교육서비스업')]
data2.reset_index(drop=True, inplace=True)
data2

,city,industry,job_offer,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,서울,"농업, 임업 및 어업",0,0,254,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
1,서울,광업,0,0,25,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
2,서울,제조업,33,1,32866,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
3,서울,"전기, 가스, 증기 및 공기조절 공급업",1,0,96,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
4,서울,"수도, 하수 및 폐기물 처리, 원료 재생업",0,0,396,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19375,제주,"공공행정, 국방 및 사회보장 행정",0,0,126,0,678159,1968.8,3.25,98.75089,90.2,2022,12
19376,제주,보건업 및 사회복지 서비스업,0,0,2066,0,678159,1968.8,3.25,98.75089,90.2,2022,12
19377,제주,"협회 및 단체, 수리 및 기타 개인 서비스업",0,0,1441,0,678159,1968.8,3.25,98.75089,90.2,2022,12
19378,제주,가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동,0,0,0,0,678159,1968.8,3.25,98.75089,90.2,2022,12
19379,제주,국제 및 외국기관,0,0,1,0,678159,1968.8,3.25,98.75089,90.2,2022,12

In [29]:
print(len(data2) * 0.8)

15504.0

In [33]:
train_data = data2.iloc[:15504, :] # 2018 ~ 2021년 데이터
test_data = data2.iloc[15504:, :] # 2022년 데이터
print(len(train_data), len(test_data))

15504 3876

In [34]:
from pycaret.regression import *
setup_rgs = setup(data=train_data, target='job_offer', test_data=test_data, session_id=42)

In [35]:
top5 = compare_models(n_select=5, sort='MSE')

In [37]:
tuned_top5 = [tune_model(i) for i in top5]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [45]:
tuned_top5

[<catboost.core.CatBoostRegressor at 0x7f5666d7d3a0>,
 ExtraTreesRegressor(n_jobs=-1, random_state=42),
 RandomForestRegressor(bootstrap=False, max_depth=11, max_features='log2',
                       min_impurity_decrease=0.0001, min_samples_leaf=3,
                       min_samples_split=7, n_estimators=30, n_jobs=-1,
                       random_state=42),
 GradientBoostingRegressor(learning_rate=0.05, max_depth=6, max_features='sqrt',
                           min_impurity_decrease=0.3, min_samples_leaf=4,
                           min_samples_split=10, n_estimators=270,
                           random_state=42, subsample=0.7),
 XGBRegressor(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.7, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.3, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=8, max_leaves=None,
              min_child_weight=2, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=170, n_jobs=-1,
              num_parallel_tree=None, random_state=42, ...)]

In [38]:
# 혼합 모델 생성
blender_5 = blend_models(tuned_top5)

In [39]:
final_model = finalize_model(blender_5)
prediction = predict_model(final_model, data=test_x)

In [40]:
real_pred = pd.DataFrame({'real':test_y, 'pred':prediction['prediction_label']})
real_pred['pred'] = real_pred['pred'].astype('int')
real_pred

       real  pred
18768     0     0
18769     0     0
18770    32     0
18771     0     0
18772     0     0
...     ...   ...
23455     0     0
23456     0     0
23457     0     0
23458     0     0
23459     0     0

[4692 rows x 2 columns]

In [41]:
real_pred.loc[real_pred['real'] != real_pred['pred']]['pred'].value_counts()

0    1197
5      24
Name: pred, dtype: int64

여전히 0으로 예측이 다수

In [50]:
data3 = data.copy()
# 구직건수 제외
data3.drop('job_search', axis=1, inplace=True)
# 산업군이 분류불능 및 해당없음 제외
data3 = data3.loc[(data3['industry'] != '분류불능') & (data3['industry'] != '해당없음')]
data3

,city,industry,job_offer,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,서울,"농업, 임업 및 어업",0,0,254,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
1,서울,광업,0,0,25,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
2,서울,제조업,33,1,32866,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
3,서울,"전기, 가스, 증기 및 공기조절 공급업",1,0,96,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
4,서울,"수도, 하수 및 폐기물 처리, 원료 재생업",0,0,396,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23453,제주,보건업 및 사회복지 서비스업,0,0,2066,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23454,제주,"예술, 스포츠 및 여가 관련 서비스업",0,0,0,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23455,제주,"협회 및 단체, 수리 및 기타 개인 서비스업",0,0,1441,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23456,제주,가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동,0,0,0,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23457,제주,국제 및 외국기관,0,0,1,0,678159,1968.8,3.25,98.75089,90.2,2022,12

In [51]:
# 상위 15개 업종 선정
top_industry_15 = list(data3.groupby('industry')[['job_offer',	'employment']].sum().sort_values('job_offer', ascending=False)[:15].index)
data3 = data3.loc[data3['industry'].isin(top_industry_15)]
data3

,city,industry,job_offer,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
0,서울,"농업, 임업 및 어업",0,0,254,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
2,서울,제조업,33,1,32866,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
3,서울,"전기, 가스, 증기 및 공기조절 공급업",1,0,96,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
5,서울,건설업,6,0,53694,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
6,서울,도매 및 소매업,38,0,125584,0,9851767,1812.0,1.50,100.37300,110.7,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23449,제주,"전문, 과학 및 기술 서비스업",1,0,1561,3,678159,1968.8,3.25,98.75089,90.2,2022,12
23450,제주,"사업시설 관리, 사업 지원 및 임대 서비스업",0,0,1448,8,678159,1968.8,3.25,98.75089,90.2,2022,12
23451,제주,"공공행정, 국방 및 사회보장 행정",0,0,126,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23453,제주,보건업 및 사회복지 서비스업,0,0,2066,0,678159,1968.8,3.25,98.75089,90.2,2022,12
23455,제주,"협회 및 단체, 수리 및 기타 개인 서비스업",0,0,1441,0,678159,1968.8,3.25,98.75089,90.2,2022,12

In [53]:
print(len(data3) * 0.8)

12240.0

In [54]:
train_data = data3.iloc[:12240, :] # 2018 ~ 2021년 데이터
test_data = data3.iloc[12240:, :] # 2022년 데이터
print(len(train_data), len(test_data))

12240 3060

In [58]:
from pycaret.regression import *
setup_rgs = setup(data=train_data, target='job_offer', test_data=test_data, session_id=42)

In [59]:
top5 = compare_models(n_select=5, sort='MSE', turbo=False)

Initiated  . . . . . . . . . . . . . . . . . .           10:09:23
Status     . . . . . . . . . . . . . . . . . .    Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

In [60]:
tuned_top5 = [tune_model(i) for i in top5]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [61]:
tuned_top5

[<catboost.core.CatBoostRegressor at 0x7f566d000cd0>,
 ExtraTreesRegressor(max_depth=11, max_features='log2',
                     min_impurity_decrease=0.0001, min_samples_leaf=3,
                     min_samples_split=7, n_estimators=30, n_jobs=-1,
                     random_state=42),
 RandomForestRegressor(bootstrap=False, max_depth=11, max_features='log2',
                       min_impurity_decrease=0.0001, min_samples_leaf=3,
                       min_samples_split=7, n_estimators=30, n_jobs=-1,
                       random_state=42),
 XGBRegressor(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.7, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.3, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=8, max_leaves=None,
              min_child_weight=2, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=170, n_jobs=-1,
              num_parallel_tree=None, random_state=42, ...),
 GradientBoostingRegressor(learning_rate=0.05, max_depth=6, max_features='sqrt',
                           min_impurity_decrease=0.3, min_samples_leaf=4,
                           min_samples_split=10, n_estimators=270,
                           random_state=42, subsample=0.7)]

In [63]:
# 혼합 모델 생성
blender_5 = blend_models(tuned_top5)

In [64]:
final_model = finalize_model(blender_5)
prediction = predict_model(final_model, data=test_x)

In [65]:
real_pred = pd.DataFrame({'real':test_y, 'pred':prediction['prediction_label']})
real_pred['pred'] = real_pred['pred'].astype('int')
real_pred

       real  pred
18768     0     0
18769     0     0
18770    32     0
18771     0     0
18772     0     0
...     ...   ...
23455     0     0
23456     0     0
23457     0     0
23458     0     0
23459     0     0

[4692 rows x 2 columns]

In [ ]:
real_pred.loc[real_pred['real'] != real_pred['pred']]['pred'].value_counts()

In [14]:
data4 = data.copy()

# 상위 5개 업종 선정
top_industry_5 = list(data4.groupby('industry')[['job_offer', 'employment']].sum().sort_values('job_offer', ascending=False)[:5].index)
data4 = data4.loc[data4['industry'].isin(top_industry_5)]
data4

print(len(data4) * 0.8)

4080.0

In [15]:
# 종속변수: job_offer
train_data = data4.iloc[:4080, :] # 2018 ~ 2021년 데이터
test_data = data4.iloc[4080:, :] # 2022년 데이터
print(len(train_data), len(test_data))

4080 1020

In [17]:
# 데이터 전처리
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

object_features = ['city', 'industry']

for feature in object_features:
    le = LabelEncoder()
    le = le.fit(train_data[feature])
    train_data[feature] = le.transform(train_data[feature])
    
    for label in np.unique(test_data[feature]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    test_data[feature] = le.transform(test_data[feature])

/tmp/ipykernel_20978/1135980141.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data[feature] = le.transform(train_data[feature])
/tmp/ipykernel_20978/1135980141.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data[feature] = le.transform(test_data[feature])
/tmp/ipykernel_20978/1135980141.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data[feature] = le.transform(train_data[feature])
/tmp/ipykernel_20978/1135980141.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data[feature] = le.transform(test_data[feature])

In [18]:
from sklearn.preprocessing import MinMaxScaler

# MinMaxScaler를 이용한 수치 데이터 스케일링
scale_columns = ['job_search', 'employment', 'no_company', 'unemployment', 'population', 'GDP', 'i_rate', 'CLI', 'CFI']
scaler = MinMaxScaler()
scaler.fit(train_data[scale_columns])
train_data[scale_columns] = scaler.transform(train_data[scale_columns])
test_data[scale_columns] = scaler.transform(test_data[scale_columns])

train_data.head()

/tmp/ipykernel_20978/1817472207.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data[scale_columns] = scaler.transform(train_data[scale_columns])
/tmp/ipykernel_20978/1817472207.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data[scale_columns] = scaler.transform(test_data[scale_columns])

,city,industry,job_offer,job_search,employment,no_company,unemployment,population,GDP,i_rate,CLI,CFI,year,month
2,8,4,33,0.0,0.032258,0.238046,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
6,8,0,38,0.0,0.000000,0.912035,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
9,8,3,303,0.0,0.290323,0.195215,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
12,8,2,50,0.0,0.064516,0.298497,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1
13,8,1,14,0.0,0.032258,0.130410,0.0,0.720403,0.0,0.8,0.416524,1.0,2018,1

In [19]:
from pycaret.regression import *
setup_rgs = setup(data=train_data, target='job_offer', test_data=test_data, session_id=42)

In [20]:
top5 = compare_models(n_select=5, sort='MSE', turbo=False)

In [21]:
tuned_top5 = [tune_model(i) for i in top5]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [25]:
tuned_top5

[<catboost.core.CatBoostRegressor at 0x7fed9b48a400>,
 ExtraTreesRegressor(max_depth=11, max_features='log2',
                     min_impurity_decrease=0.0001, min_samples_leaf=3,
                     min_samples_split=7, n_estimators=30, n_jobs=-1,
                     random_state=42),
 LGBMRegressor(n_jobs=-1, random_state=42),
 GradientBoostingRegressor(learning_rate=0.05, max_depth=6, max_features='sqrt',
                           min_impurity_decrease=0.3, min_samples_leaf=4,
                           min_samples_split=10, n_estimators=270,
                           random_state=42, subsample=0.7),
 RandomForestRegressor(bootstrap=False, max_depth=11, max_features='log2',
                       min_impurity_decrease=0.0001, min_samples_leaf=3,
                       min_samples_split=7, n_estimators=30, n_jobs=-1,
                       random_state=42)]

In [22]:
# 혼합 모델 생성
blender_5 = blend_models(tuned_top5)

final_model = finalize_model(blender_5)
prediction = predict_model(final_model, data=test_x)

In [23]:
real_pred = pd.DataFrame({'real':test_y, 'pred':prediction['prediction_label']})
real_pred['pred'] = real_pred['pred'].astype('int')
real_pred

       real  pred
18768     0    29
18769     0    44
18770    32    32
18771     0    29
18772     0    29
...     ...   ...
23455     0     3
23456     0     1
23457     0     3
23458     0     3
23459     0     3

[4692 rows x 2 columns]

In [24]:
real_pred.loc[real_pred['real'] != real_pred['pred']]['pred'].value_counts()

7      484
8      455
10     351
6      323
9      322
      ...
168      1
133      1
130      1
124      1
92       1
Name: pred, Length: 156, dtype: int64